templates/gateway-asg.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: >
  Netskope AI Gateway - Auto Scaling deployment with ALB.
  Deploys gateway instances in an ASG with lifecycle hooks for
  automated enrollment and deregistration.

Metadata:
  AWS::CloudFormation::Interface:
    ParameterGroups:
      - Label:
          default: Netskope Tenant Configuration
        Parameters:
          - NetskopeTenantUrl
          - NetskopeApiToken
      - Label:
          default: DLP On Demand (Optional)
        Parameters:
          - DlpodAmiId
          - DlpodInstanceType
          - DlpodLicenseKey
          - DlpodLambdaCodeKey
          - DlpDomainName
          - DnsServer
      - Label:
          default: AI Guardrails LLM (Optional)
        Parameters:
          - GuardrailsImageUri
          - GuardrailsInstanceType
          - GuardrailsAmiId
          - GuardrailsContainerPort
          - GuardrailsHealthCheckPath
          - GuardrailsDomainName
          - GuardrailsMinCapacity
          - GuardrailsMaxCapacity
          - GuardrailsDesiredCapacity
      - Label:
          default: Network Configuration
        Parameters:
          - ExistingVpcId
          - ExistingPublicSubnetId
          - ExistingPublicSubnet2Id
          - ExistingPrivateSubnetId
          - ExistingPrivateSubnet2Id
          - VpcCidr
          - PublicSubnetCidr
          - PublicSubnet2Cidr
          - PrivateSubnetCidr
          - PrivateSubnet2Cidr
      - Label:
          default: Gateway Instance Configuration
        Parameters:
          - GatewayAmiId
          - InstanceType
      - Label:
          default: Load Balancer Configuration
        Parameters:
          - GatewayAlbDomainName
      - Label:
          default: Auto Scaling Configuration
        Parameters:
          - MinCapacity
          - MaxCapacity
          - DesiredCapacity
      - Label:
          default: Lambda Deployment
        Parameters:
          - LambdaCodeBucket
          - ActivationLambdaCodeKey
          - LambdaCodeKey
          - LambdaLayerKey
      - Label:
          default: Tagging
        Parameters:
          - Project
          - Environment
    ParameterLabels:
      NetskopeTenantUrl:
        default: Netskope Tenant URL
      NetskopeApiToken:
        default: Netskope API Token
      ExistingVpcId:
        default: Existing VPC ID (optional)
      ExistingPublicSubnetId:
        default: Existing Public Subnet ID (AZ 1)
      VpcCidr:
        default: New VPC CIDR Block
      PublicSubnetCidr:
        default: New Public Subnet CIDR
      GatewayAmiId:
        default: Gateway AMI ID
      InstanceType:
        default: Gateway Instance Type
      ExistingPublicSubnet2Id:
        default: Existing Public Subnet 2 ID (AZ 2)
      PublicSubnet2Cidr:
        default: New Public Subnet 2 CIDR
      ExistingPrivateSubnetId:
        default: Existing Private Subnet ID (AZ 1)
      ExistingPrivateSubnet2Id:
        default: Existing Private Subnet 2 ID (AZ 2)
      PrivateSubnetCidr:
        default: New Private Subnet CIDR
      PrivateSubnet2Cidr:
        default: New Private Subnet 2 CIDR
      GatewayAlbDomainName:
        default: Gateway ALB Certificate Domain
      MinCapacity:
        default: Minimum Instances
      MaxCapacity:
        default: Maximum Instances
      DesiredCapacity:
        default: Desired Instances
      DlpodAmiId:
        default: DLPoD AMI ID (optional)
      DlpodInstanceType:
        default: DLPoD Instance Type
      DlpodLicenseKey:
        default: DLPoD License Key
      DlpodLambdaCodeKey:
        default: DLPoD Lambda S3 Key
      DlpDomainName:
        default: DLPoD Domain Name
      DnsServer:
        default: DLPoD DNS Server
      GuardrailsImageUri:
        default: Guardrails ECR Image URI (optional)
      GuardrailsInstanceType:
        default: Guardrails GPU Instance Type
      GuardrailsAmiId:
        default: Guardrails AMI ID (optional)
      GuardrailsContainerPort:
        default: Guardrails Container Port
      GuardrailsHealthCheckPath:
        default: Guardrails Health Check Path
      GuardrailsDomainName:
        default: Guardrails Domain Name
      GuardrailsMinCapacity:
        default: Guardrails Minimum Instances
      GuardrailsMaxCapacity:
        default: Guardrails Maximum Instances
      GuardrailsDesiredCapacity:
        default: Guardrails Desired Instances
      Project:
        default: Project Name
      Environment:
        default: Environment Name

Parameters:
  ExistingVpcId:
    Type: String
    Default: ''
    AllowedPattern: '^(vpc-[a-z0-9]+)?$'
    ConstraintDescription: Must be a valid VPC ID (vpc-xxx) or empty to create a new VPC.
    Description: 'ID of an existing VPC to deploy into. Leave empty to create a new VPC.'

  ExistingPublicSubnetId:
    Type: String
    Default: ''
    AllowedPattern: '^(subnet-[a-z0-9]+)?$'
    ConstraintDescription: Must be a valid subnet ID (subnet-xxx) or empty to create a new subnet.
    Description: 'Existing public subnet for ALB (AZ 1). Leave empty to create new.'

  ExistingPublicSubnet2Id:
    Type: String
    Default: ''
    AllowedPattern: '^(subnet-[a-z0-9]+)?$'
    ConstraintDescription: Must be a valid subnet ID (subnet-xxx) or empty to create a new subnet.
    Description: 'Existing public subnet for ALB (AZ 2). Leave empty to create new.'

  GatewayAlbDomainName:
    Type: String
    Default: aigw.internal
    Description: 'Domain name for the auto-generated gateway ALB certificate CN.'

  MinCapacity:
    Type: Number
    Default: 1
    MinValue: 1
    Description: Minimum number of gateway instances

  MaxCapacity:
    Type: Number
    Default: 3
    MinValue: 1
    Description: Maximum number of gateway instances

  DesiredCapacity:
    Type: Number
    Default: 1
    MinValue: 1
    Description: Desired number of gateway instances

  NetskopeTenantUrl:
    Type: String
    Description: 'Netskope tenant URL (e.g., https://tenant.goskope.com)'
    AllowedPattern: 'https://.+'
    ConstraintDescription: Must be a valid HTTPS URL

  NetskopeApiToken:
    Type: String
    NoEcho: true
    Description: Netskope API token for gateway activation

  VpcCidr:
    Type: String
    Default: '10.0.0.0/16'
    AllowedPattern: '(\d{1,3})\.(\d{1,3})\.(\d{1,3})\.(\d{1,3})/(\d{1,2})'
    ConstraintDescription: Must be a valid CIDR block (e.g., 10.0.0.0/16)
    Description: CIDR block for the VPC

  PublicSubnetCidr:
    Type: String
    Default: '10.0.1.0/24'
    AllowedPattern: '(\d{1,3})\.(\d{1,3})\.(\d{1,3})\.(\d{1,3})/(\d{1,2})'
    ConstraintDescription: Must be a valid CIDR block (e.g., 10.0.1.0/24)
    Description: CIDR block for the public subnet (gateway instance)

  PublicSubnet2Cidr:
    Type: String
    Default: '10.0.2.0/24'
    AllowedPattern: '(\d{1,3})\.(\d{1,3})\.(\d{1,3})\.(\d{1,3})/(\d{1,2})'
    ConstraintDescription: Must be a valid CIDR block (e.g., 10.0.2.0/24)
    Description: CIDR block for the second public subnet (different AZ)

  ExistingPrivateSubnetId:
    Type: String
    Default: ''
    AllowedPattern: '^(subnet-[a-z0-9]+)?$'
    ConstraintDescription: Must be a valid subnet ID (subnet-xxx) or empty to create a new subnet.
    Description: 'Existing private subnet for gateway instances (AZ 1). Leave empty to create new.'

  ExistingPrivateSubnet2Id:
    Type: String
    Default: ''
    AllowedPattern: '^(subnet-[a-z0-9]+)?$'
    ConstraintDescription: Must be a valid subnet ID (subnet-xxx) or empty to create a new subnet.
    Description: 'Existing private subnet for gateway instances (AZ 2). Leave empty to create new.'

  PrivateSubnetCidr:
    Type: String
    Default: '10.0.10.0/24'
    AllowedPattern: '(\d{1,3})\.(\d{1,3})\.(\d{1,3})\.(\d{1,3})/(\d{1,2})'
    ConstraintDescription: Must be a valid CIDR block (e.g., 10.0.10.0/24)
    Description: CIDR block for the first private subnet (gateway instances)

  PrivateSubnet2Cidr:
    Type: String
    Default: '10.0.11.0/24'
    AllowedPattern: '(\d{1,3})\.(\d{1,3})\.(\d{1,3})\.(\d{1,3})/(\d{1,2})'
    ConstraintDescription: Must be a valid CIDR block (e.g., 10.0.11.0/24)
    Description: CIDR block for the second private subnet (gateway instances)

  GatewayAmiId:
    Type: AWS::EC2::Image::Id
    Default: 'ami-0010b83013995a493'
    Description: AMI ID for the Netskope AI Gateway appliance

  InstanceType:
    Type: String
    Default: m5.4xlarge
    AllowedValues:
      - m5.4xlarge
      - m6i.4xlarge
      - c5.4xlarge
    Description: EC2 instance type for the gateway (minimum 16 vCPU, 64 GiB RAM)

  DlpodAmiId:
    Type: String
    Default: ''
    Description: 'DLP On Demand AMI ID. Leave empty to skip DLPoD deployment.'

  DlpodInstanceType:
    Type: String
    Default: c5a.4xlarge
    AllowedValues:
      - c5a.4xlarge
      - c5a.8xlarge
      - c5a.16xlarge
      - c5ad.4xlarge
      - c5ad.8xlarge
      - c5ad.16xlarge
    Description: 'DLPoD instance type. c5a available in most regions.'

  DlpodLicenseKey:
    Type: String
    Default: ''
    NoEcho: true
    Description: 'DLPoD license key (Settings > Security Cloud Platform > On-Premises Infrastructure). Required if DlpodAmiId is set.'

  DlpodLambdaCodeKey:
    Type: String
    Default: lambda-dlpod.zip
    Description: S3 key for the DLPoD Lambda package

  DlpodMinCapacity:
    Type: Number
    Default: 1
    MinValue: 1
    Description: Minimum number of DLPoD instances

  DlpodMaxCapacity:
    Type: Number
    Default: 1
    MinValue: 1
    Description: Maximum number of DLPoD instances

  DlpodDesiredCapacity:
    Type: Number
    Default: 1
    MinValue: 1
    Description: Desired number of DLPoD instances

  DlpDomainName:
    Type: String
    Default: dlp.aigw.internal
    Description: 'FQDN for the DLPoD ALB. A Route 53 private hosted zone is created.'

  DnsServer:
    Type: String
    Default: ''
    Description: 'DNS server IP for DLPoD. For new VPCs use VPC CIDR base + 2. Leave empty to auto-derive.'

  GuardrailsImageUri:
    Type: String
    Default: ''
    Description: 'ECR image URI for the AI Guardrails LLM container (e.g., 123456789012.dkr.ecr.us-west-1.amazonaws.com/aisecurityllm:latest). Leave empty to skip guardrails deployment.'

  GuardrailsInstanceType:
    Type: String
    Default: g4dn.xlarge
    AllowedValues:
      - g4dn.xlarge
      - g4dn.2xlarge
      - g5.xlarge
      - g5.2xlarge
    Description: 'GPU instance type for guardrails. Requires 1 NVIDIA GPU with >= 16 GB VRAM.'

  GuardrailsAmiId:
    Type: String
    Default: ''
    Description: 'Deep Learning Base AMI ID with NVIDIA drivers and Docker. Required when GuardrailsImageUri is set.'

  GuardrailsContainerPort:
    Type: Number
    Default: 8080
    Description: 'Port the guardrails container listens on.'

  GuardrailsHealthCheckPath:
    Type: String
    Default: '/'
    Description: 'ALB health check path for the guardrails container.'

  GuardrailsDomainName:
    Type: String
    Default: guardrails.aigw.internal
    Description: 'FQDN for the guardrails internal ALB certificate CN.'

  GuardrailsMinCapacity:
    Type: Number
    Default: 1
    MinValue: 1
    Description: Minimum number of guardrails GPU instances

  GuardrailsMaxCapacity:
    Type: Number
    Default: 2
    MinValue: 1
    Description: Maximum number of guardrails GPU instances

  GuardrailsDesiredCapacity:
    Type: Number
    Default: 1
    MinValue: 1
    Description: Desired number of guardrails GPU instances

  Project:
    Type: String
    Default: netskope-ai-gateway
    Description: Project name, used as a tag value.
    AllowedPattern: '^[a-z0-9-]+$'
    ConstraintDescription: Lowercase alphanumeric and hyphens only.

  Environment:
    Type: String
    Default: dev
    AllowedValues:
      - dev
      - staging
      - prod
    Description: Deployment environment

  LambdaCodeBucket:
    Type: String
    Description: S3 bucket containing Lambda deployment package and layer

  LambdaCodeKey:
    Type: String
    Default: lambda-step-function.zip
    Description: S3 key for the enrollment Lambda package

  ActivationLambdaCodeKey:
    Type: String
    Default: lambda-activation.zip
    Description: S3 key for the activation Lambda package

  LambdaLayerKey:
    Type: String
    Default: layers/pexpect-layer.zip
    Description: S3 key for the paramiko/pyte Lambda Layer

Conditions:
  CreateNewVpc: !Equals [!Ref ExistingVpcId, '']
  CreateNewPublicSubnet: !Equals [!Ref ExistingPublicSubnetId, '']
  CreateNewPublicSubnet2: !Equals [!Ref ExistingPublicSubnet2Id, '']
  CreateNewPrivateSubnet: !Equals [!Ref ExistingPrivateSubnetId, '']
  CreateNewPrivateSubnet2: !Equals [!Ref ExistingPrivateSubnet2Id, '']
  DeployDlpod: !Not [!Equals [!Ref DlpodAmiId, '']]
  DeployGuardrails: !Not [!Equals [!Ref GuardrailsImageUri, '']]
  AutoDeriveDns: !Equals [!Ref DnsServer, '']

Resources:

  # ============================================================
  # VPC and Networking (only created when no existing VPC/subnet)
  # ============================================================

  Vpc:
    Type: AWS::EC2::VPC
    Condition: CreateNewVpc
    Properties:
      CidrBlock: !Ref VpcCidr
      EnableDnsSupport: true
      EnableDnsHostnames: true
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName}-vpc'
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  InternetGateway:
    Type: AWS::EC2::InternetGateway
    Condition: CreateNewVpc
    Properties:
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName}-igw'
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  InternetGatewayAttachment:
    Type: AWS::EC2::VPCGatewayAttachment
    Condition: CreateNewVpc
    Properties:
      InternetGatewayId: !Ref InternetGateway
      VpcId: !Ref Vpc

  # ============================================================
  # Public Subnet (Gateway Instance)
  # ============================================================

  PublicSubnet:
    Type: AWS::EC2::Subnet
    Condition: CreateNewPublicSubnet
    Properties:
      VpcId: !Ref Vpc
      CidrBlock: !Ref PublicSubnetCidr
      AvailabilityZone: !Select [0, !GetAZs '']
      MapPublicIpOnLaunch: false
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName}-public-subnet'
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  PublicRouteTable:
    Type: AWS::EC2::RouteTable
    Condition: CreateNewVpc
    Properties:
      VpcId: !Ref Vpc
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName}-public-rt'
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  PublicDefaultRoute:
    Type: AWS::EC2::Route
    Condition: CreateNewVpc
    DependsOn: InternetGatewayAttachment
    Properties:
      RouteTableId: !Ref PublicRouteTable
      DestinationCidrBlock: '0.0.0.0/0'
      GatewayId: !Ref InternetGateway

  PublicSubnetRouteTableAssociation:
    Type: AWS::EC2::SubnetRouteTableAssociation
    Condition: CreateNewVpc
    Properties:
      SubnetId: !Ref PublicSubnet
      RouteTableId: !Ref PublicRouteTable

  PublicSubnet2:
    Type: AWS::EC2::Subnet
    Condition: CreateNewPublicSubnet2
    Properties:
      VpcId: !Ref Vpc
      CidrBlock: !Ref PublicSubnet2Cidr
      AvailabilityZone: !Select [1, !GetAZs '']
      MapPublicIpOnLaunch: true
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName}-public-subnet-2'
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  PublicSubnetRouteTableAssociation2:
    Type: AWS::EC2::SubnetRouteTableAssociation
    Condition: CreateNewVpc
    Properties:
      SubnetId: !If [CreateNewPublicSubnet2, !Ref PublicSubnet2, !Ref ExistingPublicSubnet2Id]
      RouteTableId: !Ref PublicRouteTable

  # ============================================================
  # NAT Gateway (for private subnet internet access)
  # ============================================================

  NatGatewayEip:
    Type: AWS::EC2::EIP
    Condition: CreateNewVpc
    Properties:
      Domain: vpc
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName}-nat-eip'
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  NatGateway:
    Type: AWS::EC2::NatGateway
    Condition: CreateNewVpc
    Properties:
      AllocationId: !GetAtt NatGatewayEip.AllocationId
      SubnetId: !Ref PublicSubnet
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName}-nat'
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  # ============================================================
  # Private Subnets (Gateway Instances)
  # ============================================================

  PrivateSubnet:
    Type: AWS::EC2::Subnet
    Condition: CreateNewPrivateSubnet
    Properties:
      VpcId: !Ref Vpc
      CidrBlock: !Ref PrivateSubnetCidr
      AvailabilityZone: !Select [0, !GetAZs '']
      MapPublicIpOnLaunch: false
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName}-private-subnet'
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  PrivateSubnet2:
    Type: AWS::EC2::Subnet
    Condition: CreateNewPrivateSubnet2
    Properties:
      VpcId: !Ref Vpc
      CidrBlock: !Ref PrivateSubnet2Cidr
      AvailabilityZone: !Select [1, !GetAZs '']
      MapPublicIpOnLaunch: false
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName}-private-subnet-2'
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  PrivateRouteTable:
    Type: AWS::EC2::RouteTable
    Condition: CreateNewVpc
    Properties:
      VpcId: !Ref Vpc
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName}-private-rt'
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  PrivateDefaultRoute:
    Type: AWS::EC2::Route
    Condition: CreateNewVpc
    DependsOn: NatGateway
    Properties:
      RouteTableId: !Ref PrivateRouteTable
      DestinationCidrBlock: '0.0.0.0/0'
      NatGatewayId: !Ref NatGateway

  PrivateSubnetRouteTableAssociation:
    Type: AWS::EC2::SubnetRouteTableAssociation
    Condition: CreateNewVpc
    Properties:
      SubnetId: !If [CreateNewPrivateSubnet, !Ref PrivateSubnet, !Ref ExistingPrivateSubnetId]
      RouteTableId: !Ref PrivateRouteTable

  PrivateSubnetRouteTableAssociation2:
    Type: AWS::EC2::SubnetRouteTableAssociation
    Condition: CreateNewVpc
    Properties:
      SubnetId: !If [CreateNewPrivateSubnet2, !Ref PrivateSubnet2, !Ref ExistingPrivateSubnet2Id]
      RouteTableId: !Ref PrivateRouteTable

  # ============================================================
  # VPC Endpoints (only when creating a new VPC)
  # ============================================================

  VpcEndpointSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: VPC interface endpoints - HTTPS from Lambda and VPC
      VpcId: !If [CreateNewVpc, !Ref Vpc, !Ref ExistingVpcId]
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          SourceSecurityGroupId: !Ref LambdaSecurityGroup
          Description: HTTPS from enrollment Lambda
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: !Ref VpcCidr
          Description: HTTPS from VPC
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName}-vpce-sg'
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  S3GatewayEndpoint:
    Type: AWS::EC2::VPCEndpoint
    Condition: CreateNewVpc
    Properties:
      VpcId: !Ref Vpc
      ServiceName: !Sub 'com.amazonaws.${AWS::Region}.s3'
      VpcEndpointType: Gateway
      RouteTableIds:
        - !Ref PublicRouteTable
        - !Ref PrivateRouteTable

  SecretsManagerEndpoint:
    Type: AWS::EC2::VPCEndpoint
    Properties:
      VpcId: !If [CreateNewVpc, !Ref Vpc, !Ref ExistingVpcId]
      ServiceName: !Sub 'com.amazonaws.${AWS::Region}.secretsmanager'
      VpcEndpointType: Interface
      PrivateDnsEnabled: true
      SubnetIds:
        - !If [CreateNewPrivateSubnet, !Ref PrivateSubnet, !Ref ExistingPrivateSubnetId]
        - !If [CreateNewPrivateSubnet2, !Ref PrivateSubnet2, !Ref ExistingPrivateSubnet2Id]
      SecurityGroupIds:
        - !Ref VpcEndpointSecurityGroup

  # ============================================================
  # Security Groups
  # ============================================================

  ALBSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: ALB - HTTPS from internet
      VpcId: !If [CreateNewVpc, !Ref Vpc, !Ref ExistingVpcId]
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: '0.0.0.0/0'
          Description: HTTPS from internet
      SecurityGroupEgress:
        - IpProtocol: '-1'
          CidrIp: '0.0.0.0/0'
          Description: All outbound
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName}-alb-sg'
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  LambdaSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: Enrollment Lambda - SSH to gateways
      VpcId: !If [CreateNewVpc, !Ref Vpc, !Ref ExistingVpcId]
      SecurityGroupEgress:
        - IpProtocol: '-1'
          CidrIp: '0.0.0.0/0'
          Description: All outbound
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName}-lambda-sg'
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  GatewaySecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: Netskope AI Gateway instance - HTTPS from ALB and VPC
      VpcId: !If [CreateNewVpc, !Ref Vpc, !Ref ExistingVpcId]
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          SourceSecurityGroupId: !Ref ALBSecurityGroup
          Description: HTTPS from ALB
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: !Ref VpcCidr
          Description: HTTPS from VPC consumers
        - IpProtocol: tcp
          FromPort: 22
          ToPort: 22
          SourceSecurityGroupId: !Ref LambdaSecurityGroup
          Description: SSH from enrollment Lambda
        - IpProtocol: tcp
          FromPort: 22
          ToPort: 22
          SourceSecurityGroupId: !Ref LambdaSecurityGroup
          Description: SSH from enrollment Lambda
      SecurityGroupEgress:
        - IpProtocol: '-1'
          CidrIp: '0.0.0.0/0'
          Description: All outbound traffic for appliance internal services and API connectivity
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName}-gateway-sg'
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  # ============================================================
  # IAM Role and Instance Profile
  # ============================================================

  GatewayRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${AWS::StackName}-gateway-role'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: ec2.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/CloudWatchAgentServerPolicy
      Tags:
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  GatewayInstanceProfile:
    Type: AWS::IAM::InstanceProfile
    Properties:
      InstanceProfileName: !Sub '${AWS::StackName}-gateway-profile'
      Roles:
        - !Ref GatewayRole

  # ============================================================
  # Secrets Manager — Netskope API Credentials
  # ============================================================

  NetskopeSecret:
    Type: AWS::SecretsManager::Secret
    Properties:
      Name: !Sub '${AWS::StackName}-netskope-credentials'
      Description: Netskope tenant URL and API token for AI Gateway activation
      SecretString: !Sub |
        {"tenant_url": "${NetskopeTenantUrl}", "api_token": "${NetskopeApiToken}"}
      Tags:
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  # ============================================================
  # SSH Key Pair Generation
  # ============================================================

  SSHPrivateKeySecret:
    Type: AWS::SecretsManager::Secret
    Properties:
      Name: !Sub '${AWS::StackName}-ssh-private-key'
      Description: SSH private key for Lambda-to-gateway automation
      Tags:
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  SSHKeyGeneratorRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${AWS::StackName}-keygen-role'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: KeyGenPermissions
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - ec2:CreateKeyPair
                  - ec2:DeleteKeyPair
                Resource: '*'
              - Effect: Allow
                Action:
                  - secretsmanager:PutSecretValue
                Resource: !Ref SSHPrivateKeySecret
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: '*'
      Tags:
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  SSHKeyGeneratorFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub '${AWS::StackName}-keygen'
      Runtime: python3.12
      Handler: index.handler
      Timeout: 30
      Role: !GetAtt SSHKeyGeneratorRole.Arn
      Code:
        ZipFile: |
          import json
          import boto3
          import cfnresponse
          import logging

          logger = logging.getLogger()
          logger.setLevel(logging.INFO)

          ec2 = boto3.client('ec2')
          sm = boto3.client('secretsmanager')

          def handler(event, context):
              key_pair_name = event['ResourceProperties']['KeyPairName']
              secret_arn = event['ResourceProperties']['SecretArn']
              request_type = event['RequestType']

              try:
                  if request_type == 'Create':
                      resp = ec2.create_key_pair(
                          KeyName=key_pair_name,
                          KeyType='rsa',
                          KeyFormat='pem',
                      )
                      sm.put_secret_value(
                          SecretId=secret_arn,
                          SecretString=resp['KeyMaterial'],
                      )
                      logger.info('Created key pair: %s', key_pair_name)
                      cfnresponse.send(event, context, cfnresponse.SUCCESS, {
                          'KeyPairName': key_pair_name,
                      }, physicalResourceId=key_pair_name)

                  elif request_type == 'Delete':
                      try:
                          ec2.delete_key_pair(KeyName=key_pair_name)
                      except Exception:
                          logger.exception('Failed to delete key pair')
                      cfnresponse.send(event, context, cfnresponse.SUCCESS, {},
                                       physicalResourceId=key_pair_name)
                  else:
                      cfnresponse.send(event, context, cfnresponse.SUCCESS, {
                          'KeyPairName': key_pair_name,
                      }, physicalResourceId=key_pair_name)

              except Exception:
                  logger.exception('Key generation failed')
                  cfnresponse.send(event, context, cfnresponse.FAILED, {},
                                   physicalResourceId=key_pair_name)
      Tags:
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  SSHKeyPair:
    Type: Custom::SSHKeyPair
    Properties:
      ServiceToken: !GetAtt SSHKeyGeneratorFunction.Arn
      KeyPairName: !Sub '${AWS::StackName}-key'
      SecretArn: !Ref SSHPrivateKeySecret

  # ============================================================
  # Activation Lambda (Lifecycle Dispatcher)
  # ============================================================

  ActivationLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${AWS::StackName}-activation-lambda-role'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: ActivationLambdaPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Sid: GetNetskopeSecret
                Effect: Allow
                Action:
                  - secretsmanager:GetSecretValue
                Resource: !Ref NetskopeSecret
              - Sid: DescribeInstances
                Effect: Allow
                Action:
                  - ec2:DescribeInstances
                Resource: '*'
              - Sid: CompleteLifecycleAction
                Effect: Allow
                Action:
                  - autoscaling:CompleteLifecycleAction
                Resource: !Sub 'arn:aws:autoscaling:${AWS::Region}:${AWS::AccountId}:autoScalingGroup:*:autoScalingGroupName/${AWS::StackName}-*'
              - Sid: StoreApplianceMapping
                Effect: Allow
                Action:
                  - ssm:PutParameter
                  - ssm:GetParameter
                  - ssm:DeleteParameter
                Resource: !Sub 'arn:aws:ssm:${AWS::Region}:${AWS::AccountId}:parameter/aig/${AWS::StackName}/*/appliance-id'
              - Sid: StartStepFunction
                Effect: Allow
                Action:
                  - states:StartExecution
                Resource: !Sub 'arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:${AWS::StackName}-enrollment'
              - Sid: WriteLogs
                Effect: Allow
                Action:
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: !GetAtt ActivationLambdaLogGroup.Arn
      Tags:
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  ActivationLambdaLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub '/aws/lambda/${AWS::StackName}-activation'
      RetentionInDays: 30
      Tags:
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  ActivationLambdaFunction:
    Type: AWS::Lambda::Function
    DependsOn: ActivationLambdaLogGroup
    Properties:
      FunctionName: !Sub '${AWS::StackName}-activation'
      Description: >
        Handles ASG lifecycle events. On launch: registers appliance with
        Netskope tenant and starts Step Functions enrollment. On terminate:
        deregisters appliance and cleans up.
      Runtime: python3.12
      Handler: activation_handler.handler
      Timeout: 300
      MemorySize: 128
      ReservedConcurrentExecutions: 5
      Role: !GetAtt ActivationLambdaRole.Arn
      Environment:
        Variables:
          STACK_NAME: !Ref 'AWS::StackName'
          SECRET_ARN: !Ref NetskopeSecret
          STATE_MACHINE_ARN: !Ref EnrollmentStateMachine
          DLP_HOST_URL: !If [DeployDlpod, !Sub 'https://${DlpDomainName}', '']
          GUARDRAILS_HOST_URL: !If [DeployGuardrails, !Sub 'https://${GuardrailsDomainName}', '']
      Code:
        S3Bucket: !Ref LambdaCodeBucket
        S3Key: !Ref ActivationLambdaCodeKey
      Tags:
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  # ============================================================
  # Enrollment Lambda (SSH/TUI — runs in VPC)
  # ============================================================

  EnrollmentLambdaLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub '/aws/lambda/${AWS::StackName}-enrollment'
      RetentionInDays: 30
      Tags:
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  EnrollmentLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${AWS::StackName}-enrollment-lambda-role'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: EnrollmentLambdaPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Sid: GetSSHKey
                Effect: Allow
                Action:
                  - secretsmanager:GetSecretValue
                Resource: !Ref SSHPrivateKeySecret
              - Sid: GetNetskopeSecret
                Effect: Allow
                Action:
                  - secretsmanager:GetSecretValue
                Resource: !Ref NetskopeSecret
              - Sid: VpcNetworking
                Effect: Allow
                Action:
                  - ec2:CreateNetworkInterface
                  - ec2:DescribeNetworkInterfaces
                  - ec2:DeleteNetworkInterface
                Resource: '*'
              - Sid: CompleteLifecycleAction
                Effect: Allow
                Action:
                  - autoscaling:CompleteLifecycleAction
                Resource: !Sub 'arn:aws:autoscaling:${AWS::Region}:${AWS::AccountId}:autoScalingGroup:*:autoScalingGroupName/${AWS::StackName}-*'
              - Sid: WriteLogs
                Effect: Allow
                Action:
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: !GetAtt EnrollmentLambdaLogGroup.Arn
              - !If
                - DeployDlpod
                - Sid: ReadDlpodCert
                  Effect: Allow
                  Action: ssm:GetParameter
                  Resource: !Sub 'arn:${AWS::Partition}:ssm:${AWS::Region}:${AWS::AccountId}:parameter/${AWS::StackName}/*'
                - !Ref 'AWS::NoValue'
      Tags:
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  ParamikoLayer:
    Type: AWS::Lambda::LayerVersion
    Properties:
      LayerName: !Sub '${AWS::StackName}-paramiko'
      Description: paramiko + pyte for TUI automation over SSH
      CompatibleRuntimes:
        - python3.12
      Content:
        S3Bucket: !Ref LambdaCodeBucket
        S3Key: !Ref LambdaLayerKey

  EnrollmentLambdaFunction:
    Type: AWS::Lambda::Function
    DependsOn: EnrollmentLambdaLogGroup
    Properties:
      FunctionName: !Sub '${AWS::StackName}-enrollment'
      Description: Drives gateway enrollment via TUI over SSH (paramiko + pyte)
      Runtime: python3.12
      Handler: step_function_handlers.handler
      Timeout: 120
      MemorySize: 256
      Role: !GetAtt EnrollmentLambdaRole.Arn
      Layers:
        - !Ref ParamikoLayer
      VpcConfig:
        SecurityGroupIds:
          - !Ref LambdaSecurityGroup
        SubnetIds:
          - !If [CreateNewPrivateSubnet, !Ref PrivateSubnet, !Ref ExistingPrivateSubnetId]
          - !If [CreateNewPrivateSubnet2, !Ref PrivateSubnet2, !Ref ExistingPrivateSubnet2Id]
      Environment:
        Variables:
          SSH_KEY_SECRET_ARN: !Ref SSHPrivateKeySecret
          NETSKOPE_SECRET_ARN: !Ref NetskopeSecret
          DLPOD_CERT_PARAM: !If [DeployDlpod, !Sub '/${AWS::StackName}/dlpod-cert', '']
          DLP_HOST_URL: !If [DeployDlpod, !Sub 'https://${DlpDomainName}', '']
          GUARDRAILS_CERT_PARAM: !If [DeployGuardrails, !Sub '/${AWS::StackName}/guardrails-cert', '']
          GUARDRAILS_HOST_URL: !If [DeployGuardrails, !Sub 'https://${GuardrailsDomainName}', '']
      Code:
        S3Bucket: !Ref LambdaCodeBucket
        S3Key: !Ref LambdaCodeKey
      Tags:
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  # ============================================================
  # Step Functions — Enrollment State Machine
  # ============================================================

  StepFunctionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${AWS::StackName}-sfn-role'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: InvokeLambda
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource:
                  - !GetAtt EnrollmentLambdaFunction.Arn
      Tags:
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  EnrollmentStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub '${AWS::StackName}-enrollment'
      RoleArn: !GetAtt StepFunctionRole.Arn
      Tags:
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation
      DefinitionString: !Sub |
        {
          "Comment": "AIG Gateway enrollment via TUI automation over SSH",
          "StartAt": "WaitForSSH",
          "States": {
            "WaitForSSH": {
              "Type": "Task",
              "Resource": "${EnrollmentLambdaFunction.Arn}",
              "Parameters": {
                "action": "check_ssh",
                "instance_ip.$": "$.instance_ip",
                "appliance_id.$": "$.appliance_id",
                "enrollment_token.$": "$.enrollment_token"
              },
              "ResultPath": "$.ssh_check",
              "Next": "IsSSHReady",
              "Catch": [{
                "ErrorEquals": ["States.ALL"],
                "Next": "WaitBeforeSSHRetry",
                "ResultPath": "$.error"
              }]
            },
            "IsSSHReady": {
              "Type": "Choice",
              "Choices": [{
                "Variable": "$.ssh_check.ssh_ready",
                "BooleanEquals": true,
                "Next": "StartEnrollment"
              }],
              "Default": "WaitBeforeSSHRetry"
            },
            "WaitBeforeSSHRetry": {
              "Type": "Wait",
              "Seconds": 15,
              "Next": "WaitForSSH"
            },
            "StartEnrollment": {
              "Type": "Task",
              "Resource": "${EnrollmentLambdaFunction.Arn}",
              "Parameters": {
                "action": "start_enrollment",
                "instance_ip.$": "$.ssh_check.instance_ip",
                "appliance_id.$": "$.ssh_check.appliance_id",
                "enrollment_token.$": "$.ssh_check.enrollment_token"
              },
              "ResultPath": "$.enrollment",
              "Next": "CheckEnrollmentState",
              "Catch": [{
                "ErrorEquals": ["States.ALL"],
                "Next": "EnrollmentFailed",
                "ResultPath": "$.error"
              }]
            },
            "CheckEnrollmentState": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.enrollment.enrollment_state",
                  "StringEquals": "token_prompt_ready",
                  "Next": "SubmitToken"
                },
                {
                  "Variable": "$.enrollment.enrollment_state",
                  "StringEquals": "already_enrolled",
                  "Next": "EnrollmentComplete"
                },
                {
                  "Variable": "$.enrollment.enrollment_state",
                  "StringEquals": "completed",
                  "Next": "EnrollmentComplete"
                }
              ],
              "Default": "WaitForPreEnrollment"
            },
            "WaitForPreEnrollment": {
              "Type": "Wait",
              "Seconds": 30,
              "Next": "PollPreEnrollment"
            },
            "PollPreEnrollment": {
              "Type": "Task",
              "Resource": "${EnrollmentLambdaFunction.Arn}",
              "Parameters": {
                "action": "check_enrollment",
                "instance_ip.$": "$.enrollment.instance_ip",
                "appliance_id.$": "$.enrollment.appliance_id",
                "enrollment_token.$": "$.enrollment.enrollment_token"
              },
              "ResultPath": "$.enrollment",
              "Next": "CheckEnrollmentState",
              "Catch": [{
                "ErrorEquals": ["States.ALL"],
                "Next": "WaitForPreEnrollment",
                "ResultPath": "$.error"
              }]
            },
            "SubmitToken": {
              "Type": "Task",
              "Resource": "${EnrollmentLambdaFunction.Arn}",
              "Parameters": {
                "action": "submit_token",
                "instance_ip.$": "$.enrollment.instance_ip",
                "appliance_id.$": "$.enrollment.appliance_id",
                "enrollment_token.$": "$.enrollment.enrollment_token"
              },
              "ResultPath": "$.submit_result",
              "Next": "CheckSubmitResult",
              "Catch": [{
                "ErrorEquals": ["States.ALL"],
                "Next": "EnrollmentFailed",
                "ResultPath": "$.error"
              }]
            },
            "CheckSubmitResult": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.submit_result.enrollment_state",
                  "StringEquals": "completed",
                  "Next": "EnrollmentComplete"
                },
                {
                  "Variable": "$.submit_result.enrollment_state",
                  "StringEquals": "already_enrolled",
                  "Next": "EnrollmentComplete"
                }
              ],
              "Default": "EnrollmentFailed"
            },
            "EnrollmentComplete": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.dlp_host_url",
                  "IsPresent": true,
                  "Next": "CheckDlpodCertReady"
                },
                {
                  "Variable": "$.guardrails_host_url",
                  "IsPresent": true,
                  "Next": "CheckGuardrailsCertReady"
                }
              ],
              "Default": "CompleteLifecycle"
            },
            "CheckDlpodCertReady": {
              "Type": "Task",
              "Resource": "${EnrollmentLambdaFunction.Arn}",
              "Parameters": {
                "action": "check_dlpod_cert",
                "instance_ip.$": "$.instance_ip"
              },
              "ResultPath": "$.cert_check",
              "Next": "IsCertReady",
              "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "WaitForCert", "ResultPath": "$.error"}]
            },
            "IsCertReady": {
              "Type": "Choice",
              "Choices": [{"Variable": "$.cert_check.cert_ready", "BooleanEquals": true, "Next": "ConfigureAigDlp"}],
              "Default": "WaitForCert"
            },
            "WaitForCert": {"Type": "Wait", "Seconds": 60, "Next": "CheckDlpodCertReady"},
            "ConfigureAigDlp": {
              "Type": "Task",
              "Resource": "${EnrollmentLambdaFunction.Arn}",
              "Parameters": {
                "action": "configure_aig_dlp",
                "instance_ip.$": "$.instance_ip",
                "dlp_host_url.$": "$.dlp_host_url"
              },
              "ResultPath": "$.dlp_result",
              "Next": "CheckDlpResult",
              "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "CompleteLifecycle", "ResultPath": "$.dlp_error"}]
            },
            "CheckDlpResult": {
              "Type": "Choice",
              "Choices": [{"Variable": "$.dlp_result.dlp_configured", "BooleanEquals": true, "Next": "CheckGuardrailsNeeded"}],
              "Default": "CheckGuardrailsNeeded"
            },
            "CheckGuardrailsNeeded": {
              "Type": "Choice",
              "Choices": [{
                "Variable": "$.guardrails_host_url",
                "IsPresent": true,
                "Next": "CheckGuardrailsCertReady"
              }],
              "Default": "CompleteLifecycle"
            },
            "CheckGuardrailsCertReady": {
              "Type": "Task",
              "Resource": "${EnrollmentLambdaFunction.Arn}",
              "Parameters": {
                "action": "check_guardrails_cert",
                "instance_ip.$": "$.instance_ip"
              },
              "ResultPath": "$.guardrails_cert_check",
              "Next": "IsGuardrailsCertReady",
              "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "WaitForGuardrailsCert", "ResultPath": "$.error"}]
            },
            "IsGuardrailsCertReady": {
              "Type": "Choice",
              "Choices": [{"Variable": "$.guardrails_cert_check.cert_ready", "BooleanEquals": true, "Next": "ConfigureAigGuardrails"}],
              "Default": "WaitForGuardrailsCert"
            },
            "WaitForGuardrailsCert": {"Type": "Wait", "Seconds": 30, "Next": "CheckGuardrailsCertReady"},
            "ConfigureAigGuardrails": {
              "Type": "Task",
              "Resource": "${EnrollmentLambdaFunction.Arn}",
              "Parameters": {
                "action": "configure_aig_guardrails",
                "instance_ip.$": "$.instance_ip",
                "guardrails_host_url.$": "$.guardrails_host_url"
              },
              "ResultPath": "$.guardrails_result",
              "Next": "CompleteLifecycle",
              "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "CompleteLifecycle", "ResultPath": "$.guardrails_error"}]
            },
            "CompleteLifecycle": {
              "Type": "Task",
              "Resource": "${EnrollmentLambdaFunction.Arn}",
              "Parameters": {
                "action": "complete_lifecycle",
                "lifecycle.$": "$.lifecycle"
              },
              "End": true,
              "Catch": [{
                "ErrorEquals": ["States.ALL"],
                "Next": "EnrollmentSucceededLifecycleFailed",
                "ResultPath": "$.lifecycle_error"
              }]
            },
            "EnrollmentSucceededLifecycleFailed": {
              "Type": "Succeed"
            },
            "EnrollmentFailed": {
              "Type": "Fail",
              "Error": "EnrollmentFailed",
              "Cause": "Enrollment did not complete successfully"
            }
          }
        }

  # ============================================================
  # DLP On Demand (conditional — only when DlpodAmiId is set)
  # ============================================================

  DlpodCredentialsSecret:
    Type: AWS::SecretsManager::Secret
    Condition: DeployDlpod
    Properties:
      Name: !Sub '${AWS::StackName}-dlpod-creds'
      Description: DLPoD license key and appliance password
      SecretString: !Sub '{"license_key":"${DlpodLicenseKey}","default_password":"nsappliance","password":""}'

  DlpodCertParameter:
    Type: AWS::SSM::Parameter
    Condition: DeployDlpod
    Properties:
      Name: !Sub '/${AWS::StackName}/dlpod-cert'
      Type: String
      Value: pending
      Description: ALB certificate PEM for AIG DLP configuration

  DlpodSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Condition: DeployDlpod
    Properties:
      GroupDescription: DLPoD appliance
      VpcId: !If [CreateNewVpc, !Ref Vpc, !Ref ExistingVpcId]
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 22
          ToPort: 22
          SourceSecurityGroupId: !Ref LambdaSecurityGroup
          Description: SSH from Lambda
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          SourceSecurityGroupId: !Ref DlpodAlbSecurityGroup
          Description: HTTPS from DLPoD ALB
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          SourceSecurityGroupId: !Ref LambdaSecurityGroup
          Description: HTTPS from Lambda
      SecurityGroupEgress:
        - IpProtocol: '-1'
          CidrIp: '0.0.0.0/0'
          Description: All outbound
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName}-dlpod-sg'

  DlpodAlbSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Condition: DeployDlpod
    Properties:
      GroupDescription: Private ALB for DLPoD service
      VpcId: !If [CreateNewVpc, !Ref Vpc, !Ref ExistingVpcId]
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          SourceSecurityGroupId: !Ref GatewaySecurityGroup
          Description: HTTPS from AI Gateway instances
      SecurityGroupEgress:
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: '0.0.0.0/0'
          Description: HTTPS to DLPoD target
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName}-dlpod-alb-sg'

  DlpodLaunchTemplate:
    Type: AWS::EC2::LaunchTemplate
    Condition: DeployDlpod
    Properties:
      LaunchTemplateName: !Sub '${AWS::StackName}-dlpod-lt'
      LaunchTemplateData:
        ImageId: !Ref DlpodAmiId
        InstanceType: !Ref DlpodInstanceType
        SecurityGroupIds:
          - !Ref DlpodSecurityGroup
        BlockDeviceMappings:
          - DeviceName: /dev/sda1
            Ebs:
              Encrypted: true
              VolumeSize: 351
              VolumeType: gp3
        MetadataOptions:
          HttpTokens: required
          HttpEndpoint: enabled
        TagSpecifications:
          - ResourceType: instance
            Tags:
              - Key: Name
                Value: !Sub '${AWS::StackName}-dlpod'

  DlpodAutoScalingGroup:
    Type: AWS::AutoScaling::AutoScalingGroup
    Condition: DeployDlpod
    DependsOn:
      - DlpodLifecycleSnsSubscription
      - DlpodLifecyclePermission
    Properties:
      AutoScalingGroupName: !Sub '${AWS::StackName}-dlpod-asg'
      LaunchTemplate:
        LaunchTemplateId: !Ref DlpodLaunchTemplate
        Version: !GetAtt DlpodLaunchTemplate.LatestVersionNumber
      MinSize: !Ref DlpodMinCapacity
      MaxSize: !Ref DlpodMaxCapacity
      DesiredCapacity: !Ref DlpodDesiredCapacity
      VPCZoneIdentifier:
        - !If [CreateNewPrivateSubnet, !Ref PrivateSubnet, !Ref ExistingPrivateSubnetId]
        - !If [CreateNewPrivateSubnet2, !Ref PrivateSubnet2, !Ref ExistingPrivateSubnet2Id]
      TargetGroupARNs:
        - !Ref DlpodTargetGroup
      HealthCheckType: ELB
      HealthCheckGracePeriod: 1800
      LifecycleHookSpecificationList:
        - LifecycleHookName: !Sub '${AWS::StackName}-dlpod-launch-hook'
          LifecycleTransition: 'autoscaling:EC2_INSTANCE_LAUNCHING'
          HeartbeatTimeout: 1800
          DefaultResult: ABANDON
          NotificationTargetARN: !Ref DlpodLifecycleSnsTopic
          RoleARN: !GetAtt DlpodLifecycleSnsRole.Arn
        - LifecycleHookName: !Sub '${AWS::StackName}-dlpod-terminate-hook'
          LifecycleTransition: 'autoscaling:EC2_INSTANCE_TERMINATING'
          HeartbeatTimeout: 60
          DefaultResult: CONTINUE
          NotificationTargetARN: !Ref DlpodLifecycleSnsTopic
          RoleARN: !GetAtt DlpodLifecycleSnsRole.Arn

  # DLPoD Private ALB + Route 53

  DlpodPrivateHostedZone:
    Type: AWS::Route53::HostedZone
    Condition: DeployDlpod
    Properties:
      Name: aigw.internal
      VPCs:
        - VPCId: !If [CreateNewVpc, !Ref Vpc, !Ref ExistingVpcId]
          VPCRegion: !Ref 'AWS::Region'

  DlpodDnsRecord:
    Type: AWS::Route53::RecordSet
    Condition: DeployDlpod
    Properties:
      HostedZoneId: !Ref DlpodPrivateHostedZone
      Name: !Ref DlpDomainName
      Type: A
      AliasTarget:
        DNSName: !GetAtt DlpodAlb.DNSName
        HostedZoneId: !GetAtt DlpodAlb.CanonicalHostedZoneID

  CertGeneratorRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${AWS::StackName}-certgen-role'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: CertGenPermissions
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - acm:ImportCertificate
                  - acm:DeleteCertificate
                  - acm:AddTagsToCertificate
                Resource: '*'
              - Effect: Allow
                Action: ssm:PutParameter
                Resource: !Sub 'arn:${AWS::Partition}:ssm:${AWS::Region}:${AWS::AccountId}:parameter/${AWS::StackName}/*'
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: '*'

  CertGeneratorFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub '${AWS::StackName}-certgen'
      Runtime: python3.12
      Handler: index.handler
      Timeout: 30
      Role: !GetAtt CertGeneratorRole.Arn
      Code:
        ZipFile: |
          import json, subprocess, tempfile, os, logging, urllib.request, boto3
          logger = logging.getLogger()
          logger.setLevel(logging.INFO)
          acm = boto3.client('acm')
          ssm = boto3.client('ssm')
          def send_cfn(event, context, status, data={}, pid=None):
              body = json.dumps({'Status': status, 'Reason': f'See CloudWatch {context.log_group_name}/{context.log_stream_name}', 'PhysicalResourceId': pid or event.get('PhysicalResourceId','none'), 'StackId': event['StackId'], 'RequestId': event['RequestId'], 'LogicalResourceId': event['LogicalResourceId'], 'Data': data}).encode()
              urllib.request.urlopen(urllib.request.Request(event['ResponseURL'], data=body, headers={'Content-Type':'','Content-Length':str(len(body))}, method='PUT'))
          def handler(event, context):
              domain = event['ResourceProperties']['DomainName']
              cert_param = event['ResourceProperties']['CertParameterName']
              stack = event['ResourceProperties']['StackName']
              rt = event['RequestType']
              try:
                  if rt in ('Create', 'Update'):
                      with tempfile.TemporaryDirectory() as d:
                          kf, cf, sc = f'{d}/k.pem', f'{d}/c.pem', f'{d}/s.cnf'
                          subprocess.run(['openssl','genrsa','-out',kf,'2048'], check=True, capture_output=True)
                          with open(sc,'w') as f:
                              f.write(f"[req]\ndistinguished_name=dn\nx509_extensions=v3\nprompt=no\n[dn]\nCN={domain}\nO=Netskope\nOU=AI Gateway\n[v3]\nsubjectAltName=DNS:{domain}\nbasicConstraints=critical,CA:TRUE\nkeyUsage=digitalSignature,keyEncipherment,keyCertSign\nextendedKeyUsage=serverAuth\n")
                          subprocess.run(['openssl','req','-new','-x509','-key',kf,'-out',cf,'-days','365','-config',sc], check=True, capture_output=True)
                          cert_pem = open(cf).read()
                          key_pem = open(kf).read()
                      r = acm.import_certificate(Certificate=cert_pem.encode(), PrivateKey=key_pem.encode(), Tags=[{'Key':'StackName','Value':stack}])
                      arn = r['CertificateArn']
                      ssm.put_parameter(Name=cert_param, Value=cert_pem, Type='String', Overwrite=True)
                      send_cfn(event, context, 'SUCCESS', {'CertificateArn': arn}, arn)
                  elif rt == 'Delete':
                      arn = event.get('PhysicalResourceId','')
                      if arn.startswith('arn:'):
                          try: acm.delete_certificate(CertificateArn=arn)
                          except: pass
                      send_cfn(event, context, 'SUCCESS', {}, arn)
              except Exception:
                  logger.exception('Failed')
                  send_cfn(event, context, 'FAILED', {}, 'FAILED')

  DlpodAlbCertificate:
    Type: Custom::AlbCertificate
    Condition: DeployDlpod
    Properties:
      ServiceToken: !GetAtt CertGeneratorFunction.Arn
      DomainName: !Ref DlpDomainName
      CertParameterName: !Sub '/${AWS::StackName}/dlpod-cert'
      StackName: !Ref 'AWS::StackName'

  DlpodAlb:
    Type: AWS::ElasticLoadBalancingV2::LoadBalancer
    Condition: DeployDlpod
    Properties:
      Name: !Sub '${AWS::StackName}-dlpod'
      Scheme: internal
      Type: application
      SecurityGroups:
        - !Ref DlpodAlbSecurityGroup
      Subnets:
        - !If [CreateNewPublicSubnet, !Ref PublicSubnet, !Ref ExistingPublicSubnetId]
        - !If [CreateNewPublicSubnet2, !Ref PublicSubnet2, !Ref ExistingPublicSubnet2Id]
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName}-dlpod-alb'

  DlpodTargetGroup:
    Type: AWS::ElasticLoadBalancingV2::TargetGroup
    Condition: DeployDlpod
    Properties:
      Name: !Sub '${AWS::StackName}-dlpod-tg'
      Protocol: HTTPS
      Port: 443
      VpcId: !If [CreateNewVpc, !Ref Vpc, !Ref ExistingVpcId]
      TargetType: instance
      HealthCheckProtocol: HTTPS
      HealthCheckPort: '443'
      HealthCheckPath: /
      HealthCheckIntervalSeconds: 30
      HealthCheckTimeoutSeconds: 10
      HealthyThresholdCount: 2
      UnhealthyThresholdCount: 5
      Matcher:
        HttpCode: 200-499

  DlpodHttpsListener:
    Type: AWS::ElasticLoadBalancingV2::Listener
    Condition: DeployDlpod
    Properties:
      LoadBalancerArn: !Ref DlpodAlb
      Protocol: HTTPS
      Port: 443
      Certificates:
        - CertificateArn: !GetAtt DlpodAlbCertificate.CertificateArn
      SslPolicy: ELBSecurityPolicy-TLS13-1-2-2021-06
      DefaultActions:
        - Type: forward
          TargetGroupArn: !Ref DlpodTargetGroup

  # DLPoD Lifecycle Hook Integration

  DlpodLifecycleSnsTopic:
    Type: AWS::SNS::Topic
    Condition: DeployDlpod
    Properties:
      TopicName: !Sub '${AWS::StackName}-dlpod-lifecycle'

  DlpodLifecycleSnsSubscription:
    Type: AWS::SNS::Subscription
    Condition: DeployDlpod
    Properties:
      TopicArn: !Ref DlpodLifecycleSnsTopic
      Protocol: lambda
      Endpoint: !GetAtt DlpodActivationFunction.Arn

  DlpodLifecyclePermission:
    Type: AWS::Lambda::Permission
    Condition: DeployDlpod
    Properties:
      Action: lambda:InvokeFunction
      FunctionName: !Ref DlpodActivationFunction
      Principal: sns.amazonaws.com
      SourceArn: !Ref DlpodLifecycleSnsTopic

  DlpodLifecycleSnsRole:
    Type: AWS::IAM::Role
    Condition: DeployDlpod
    Properties:
      RoleName: !Sub '${AWS::StackName}-dlpod-lifecycle-sns-role'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: autoscaling.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: PublishToSns
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: sns:Publish
                Resource: !Ref DlpodLifecycleSnsTopic

  DlpodActivationRole:
    Type: AWS::IAM::Role
    Condition: DeployDlpod
    Properties:
      RoleName: !Sub '${AWS::StackName}-dlpod-activation-role'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: DlpodActivationPermissions
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: ec2:DescribeInstances
                Resource: '*'
              - Effect: Allow
                Action: autoscaling:CompleteLifecycleAction
                Resource: !Sub 'arn:aws:autoscaling:${AWS::Region}:${AWS::AccountId}:autoScalingGroup:*:autoScalingGroupName/${AWS::StackName}-*'
              - Effect: Allow
                Action: states:StartExecution
                Resource: !Ref DlpodTetheringStateMachine
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: '*'

  DlpodActivationFunction:
    Type: AWS::Lambda::Function
    Condition: DeployDlpod
    Properties:
      FunctionName: !Sub '${AWS::StackName}-dlpod-activation'
      Runtime: python3.12
      Handler: index.handler
      Timeout: 60
      MemorySize: 128
      Role: !GetAtt DlpodActivationRole.Arn
      Environment:
        Variables:
          STATE_MACHINE_ARN: !Ref DlpodTetheringStateMachine
          DNS_SERVER: !If
            - AutoDeriveDns
            - !Join
              - '.'
              - - !Select [0, !Split ['.', !Select [0, !Split ['/', !Ref VpcCidr]]]]
                - !Select [1, !Split ['.', !Select [0, !Split ['/', !Ref VpcCidr]]]]
                - !Select [2, !Split ['.', !Select [0, !Split ['/', !Ref VpcCidr]]]]
                - '2'
            - !Ref DnsServer
      Code:
        ZipFile: |
          import json, os, logging, secrets, string
          import boto3
          logger = logging.getLogger()
          logger.setLevel(logging.INFO)
          ec2 = boto3.client('ec2')
          asg = boto3.client('autoscaling')
          sfn = boto3.client('stepfunctions')
          def gen_pw(n=24):
              sp = '!@#%+=_-'
              alph = string.ascii_letters + string.digits + sp
              while True:
                  pw = ''.join(secrets.choice(alph) for _ in range(n))
                  if any(c.isupper() for c in pw) and any(c.islower() for c in pw) and any(c.isdigit() for c in pw) and any(c in sp for c in pw):
                      return pw
          def get_ip(iid):
              r = ec2.describe_instances(InstanceIds=[iid])
              return r['Reservations'][0]['Instances'][0].get('PrivateIpAddress','')
          def handler(event, context):
              for rec in event.get('Records', []):
                  msg = json.loads(rec['Sns']['Message'])
                  transition = msg.get('LifecycleTransition','')
                  iid = msg.get('EC2InstanceId','')
                  logger.info('DLPoD lifecycle: %s %s', transition, iid)
                  if transition == 'autoscaling:EC2_INSTANCE_TERMINATING':
                      asg.complete_lifecycle_action(LifecycleHookName=msg['LifecycleHookName'], AutoScalingGroupName=msg['AutoScalingGroupName'], LifecycleActionToken=msg['LifecycleActionToken'], LifecycleActionResult='CONTINUE')
                      continue
                  if transition != 'autoscaling:EC2_INSTANCE_LAUNCHING':
                      continue
                  ip = get_ip(iid)
                  if not ip:
                      logger.error('No IP for %s', iid)
                      continue
                  sfn_input = {'dlpod_ip': ip, 'password': 'nsappliance', 'dns_primary': os.environ.get('DNS_SERVER',''), 'lifecycle': {'hook_name': msg['LifecycleHookName'], 'asg_name': msg['AutoScalingGroupName'], 'action_token': msg['LifecycleActionToken']}}
                  sfn.start_execution(stateMachineArn=os.environ['STATE_MACHINE_ARN'], name=f'tether-{iid}', input=json.dumps(sfn_input))
                  logger.info('Started tethering for %s at %s', iid, ip)

  # DLPoD Tethering Lambda + Step Functions

  DlpodLambdaRole:
    Type: AWS::IAM::Role
    Condition: DeployDlpod
    Properties:
      RoleName: !Sub '${AWS::StackName}-dlpod-lambda-role'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: DlpodPermissions
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: secretsmanager:GetSecretValue
                Resource: !Ref DlpodCredentialsSecret
              - Effect: Allow
                Action:
                  - ssm:GetParameter
                  - ssm:PutParameter
                Resource: !Sub 'arn:${AWS::Partition}:ssm:${AWS::Region}:${AWS::AccountId}:parameter/${AWS::StackName}/*'
              - Effect: Allow
                Action:
                  - ec2:CreateNetworkInterface
                  - ec2:DescribeNetworkInterfaces
                  - ec2:DeleteNetworkInterface
                Resource: '*'
              - Effect: Allow
                Action: autoscaling:CompleteLifecycleAction
                Resource: !Sub 'arn:aws:autoscaling:${AWS::Region}:${AWS::AccountId}:autoScalingGroup:*:autoScalingGroupName/${AWS::StackName}-*'
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: '*'

  DlpodLambdaFunction:
    Type: AWS::Lambda::Function
    Condition: DeployDlpod
    Properties:
      FunctionName: !Sub '${AWS::StackName}-dlpod'
      Description: DLPoD CLI automation (tethering, cert generation)
      Runtime: python3.12
      Handler: dlpod_handlers.handler
      Timeout: 120
      MemorySize: 256
      Role: !GetAtt DlpodLambdaRole.Arn
      Layers:
        - !Ref ParamikoLayer
      VpcConfig:
        SecurityGroupIds:
          - !Ref LambdaSecurityGroup
        SubnetIds:
          - !If [CreateNewPrivateSubnet, !Ref PrivateSubnet, !Ref ExistingPrivateSubnetId]
          - !If [CreateNewPrivateSubnet2, !Ref PrivateSubnet2, !Ref ExistingPrivateSubnet2Id]
      Environment:
        Variables:
          DLPOD_SECRET_ARN: !Ref DlpodCredentialsSecret
          DLPOD_CERT_PARAM: !Sub '/${AWS::StackName}/dlpod-cert'
      Code:
        S3Bucket: !Ref LambdaCodeBucket
        S3Key: !Ref DlpodLambdaCodeKey

  DlpodStepFunctionRole:
    Type: AWS::IAM::Role
    Condition: DeployDlpod
    Properties:
      RoleName: !Sub '${AWS::StackName}-dlpod-sfn-role'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: InvokeLambda
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: lambda:InvokeFunction
                Resource: !GetAtt DlpodLambdaFunction.Arn

  DlpodTetheringStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Condition: DeployDlpod
    Properties:
      StateMachineName: !Sub '${AWS::StackName}-dlpod-tethering'
      RoleArn: !GetAtt DlpodStepFunctionRole.Arn
      DefinitionString: !Sub |
        {
          "Comment": "DLPoD appliance tethering via lifecycle hook",
          "StartAt": "WaitForDlpodSSH",
          "States": {
            "WaitForDlpodSSH": {
              "Type": "Task",
              "Resource": "${DlpodLambdaFunction.Arn}",
              "Parameters": {"action": "dlpod_check_ssh", "dlpod_ip.$": "$.dlpod_ip", "password.$": "$.password"},
              "ResultPath": "$.ssh_check",
              "Next": "IsDlpodSSHReady",
              "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "WaitBeforeDlpodSSHRetry", "ResultPath": "$.error"}]
            },
            "IsDlpodSSHReady": {
              "Type": "Choice",
              "Choices": [{"Variable": "$.ssh_check.ssh_ready", "BooleanEquals": true, "Next": "DlpodChangePassword"}],
              "Default": "WaitBeforeDlpodSSHRetry"
            },
            "WaitBeforeDlpodSSHRetry": {"Type": "Wait", "Seconds": 15, "Next": "WaitForDlpodSSH"},
            "DlpodChangePassword": {
              "Type": "Task",
              "Resource": "${DlpodLambdaFunction.Arn}",
              "Parameters": {"action": "dlpod_change_password", "dlpod_ip.$": "$.dlpod_ip", "password.$": "$.password"},
              "ResultPath": "$.pw_result",
              "Next": "MergePassword",
              "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "DlpodTetheringFailed", "ResultPath": "$.error"}]
            },
            "MergePassword": {
              "Type": "Pass",
              "Parameters": {"dlpod_ip.$": "$.dlpod_ip", "password.$": "$.pw_result.password", "dns_primary.$": "$.dns_primary", "lifecycle.$": "$.lifecycle"},
              "Next": "DlpodSetDNS"
            },
            "DlpodSetDNS": {
              "Type": "Task",
              "Resource": "${DlpodLambdaFunction.Arn}",
              "Parameters": {"action": "dlpod_set_dns", "dlpod_ip.$": "$.dlpod_ip", "password.$": "$.password", "dns_primary.$": "$.dns_primary"},
              "ResultPath": "$.dns_result",
              "Next": "DlpodSetLicense",
              "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "DlpodTetheringFailed", "ResultPath": "$.error"}]
            },
            "DlpodSetLicense": {
              "Type": "Task",
              "Resource": "${DlpodLambdaFunction.Arn}",
              "Parameters": {"action": "dlpod_set_license", "dlpod_ip.$": "$.dlpod_ip", "password.$": "$.password"},
              "ResultPath": "$.license_result",
              "Next": "WaitForDlpodTetheringInit",
              "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "DlpodTetheringFailed", "ResultPath": "$.error"}]
            },
            "WaitForDlpodTetheringInit": {"Type": "Wait", "Seconds": 120, "Next": "CheckDlpodTethering"},
            "CheckDlpodTethering": {
              "Type": "Task",
              "Resource": "${DlpodLambdaFunction.Arn}",
              "Parameters": {"action": "dlpod_check_tethering", "dlpod_ip.$": "$.dlpod_ip", "password.$": "$.password"},
              "ResultPath": "$.tethering",
              "Next": "IsDlpodTethered",
              "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "WaitBeforeDlpodTetheringRetry", "ResultPath": "$.error"}]
            },
            "IsDlpodTethered": {
              "Type": "Choice",
              "Choices": [{"Variable": "$.tethering.tethered", "BooleanEquals": true, "Next": "DlpodCompleteLifecycle"}],
              "Default": "WaitBeforeDlpodTetheringRetry"
            },
            "WaitBeforeDlpodTetheringRetry": {"Type": "Wait", "Seconds": 60, "Next": "CheckDlpodTethering"},
            "DlpodCompleteLifecycle": {
              "Type": "Task",
              "Resource": "${DlpodLambdaFunction.Arn}",
              "Parameters": {"action": "dlpod_complete_lifecycle", "dlpod_ip.$": "$.dlpod_ip", "lifecycle.$": "$.lifecycle"},
              "End": true,
              "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "DlpodTetheringSucceededLifecycleFailed", "ResultPath": "$.error"}]
            },
            "DlpodTetheringSucceededLifecycleFailed": {"Type": "Succeed"},
            "DlpodTetheringFailed": {"Type": "Fail", "Error": "DlpodTetheringFailed", "Cause": "DLPoD tethering failed"}
          }
        }

  # ============================================================
  # AI Guardrails LLM (conditional — only when GuardrailsImageUri is set)
  # GPU container behind an internal ALB. No lifecycle hooks —
  # container self-starts via UserData (ECR pull + docker run).
  # ============================================================

  GuardrailsRole:
    Type: AWS::IAM::Role
    Condition: DeployGuardrails
    Properties:
      RoleName: !Sub '${AWS::StackName}-guardrails-role'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: ec2.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: EcrPullAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Sid: EcrAuth
                Effect: Allow
                Action: ecr:GetAuthorizationToken
                Resource: '*'
              - Sid: EcrPull
                Effect: Allow
                Action:
                  - ecr:BatchCheckLayerAvailability
                  - ecr:GetDownloadUrlForLayer
                  - ecr:BatchGetImage
                Resource: !Sub 'arn:${AWS::Partition}:ecr:${AWS::Region}:${AWS::AccountId}:repository/*'
        - PolicyName: CloudWatchLogs
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Sid: WriteLogs
                Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: !Sub 'arn:${AWS::Partition}:logs:${AWS::Region}:${AWS::AccountId}:log-group:*'
      Tags:
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  GuardrailsInstanceProfile:
    Type: AWS::IAM::InstanceProfile
    Condition: DeployGuardrails
    Properties:
      InstanceProfileName: !Sub '${AWS::StackName}-guardrails-profile'
      Roles:
        - !Ref GuardrailsRole

  GuardrailsAlbSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Condition: DeployGuardrails
    Properties:
      GroupDescription: Internal ALB for AI Guardrails service
      VpcId: !If [CreateNewVpc, !Ref Vpc, !Ref ExistingVpcId]
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          SourceSecurityGroupId: !Ref GatewaySecurityGroup
          Description: HTTPS from AI Gateway instances
      SecurityGroupEgress:
        - IpProtocol: tcp
          FromPort: !Ref GuardrailsContainerPort
          ToPort: !Ref GuardrailsContainerPort
          CidrIp: '0.0.0.0/0'
          Description: HTTP to guardrails container
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName}-guardrails-alb-sg'
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  GuardrailsSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Condition: DeployGuardrails
    Properties:
      GroupDescription: AI Guardrails GPU instances
      VpcId: !If [CreateNewVpc, !Ref Vpc, !Ref ExistingVpcId]
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: !Ref GuardrailsContainerPort
          ToPort: !Ref GuardrailsContainerPort
          SourceSecurityGroupId: !Ref GuardrailsAlbSecurityGroup
          Description: Container port from ALB
      SecurityGroupEgress:
        - IpProtocol: '-1'
          CidrIp: '0.0.0.0/0'
          Description: All outbound (ECR pull, CloudWatch)
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName}-guardrails-sg'
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  GuardrailsCertificate:
    Type: Custom::AlbCertificate
    Condition: DeployGuardrails
    Properties:
      ServiceToken: !GetAtt CertGeneratorFunction.Arn
      DomainName: !Ref GuardrailsDomainName
      CertParameterName: !Sub '/${AWS::StackName}/guardrails-cert'
      StackName: !Ref 'AWS::StackName'

  GuardrailsAlb:
    Type: AWS::ElasticLoadBalancingV2::LoadBalancer
    Condition: DeployGuardrails
    Properties:
      Name: !Sub '${AWS::StackName}-guardrails'
      Scheme: internal
      Type: application
      SecurityGroups:
        - !Ref GuardrailsAlbSecurityGroup
      Subnets:
        - !If [CreateNewPublicSubnet, !Ref PublicSubnet, !Ref ExistingPublicSubnetId]
        - !If [CreateNewPublicSubnet2, !Ref PublicSubnet2, !Ref ExistingPublicSubnet2Id]
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName}-guardrails-alb'
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  GuardrailsTargetGroup:
    Type: AWS::ElasticLoadBalancingV2::TargetGroup
    Condition: DeployGuardrails
    Properties:
      Name: !Sub '${AWS::StackName}-guardrails-tg'
      Protocol: HTTP
      Port: !Ref GuardrailsContainerPort
      VpcId: !If [CreateNewVpc, !Ref Vpc, !Ref ExistingVpcId]
      TargetType: instance
      HealthCheckProtocol: HTTP
      HealthCheckPort: !Sub '${GuardrailsContainerPort}'
      HealthCheckPath: !Ref GuardrailsHealthCheckPath
      HealthCheckIntervalSeconds: 30
      HealthCheckTimeoutSeconds: 10
      HealthyThresholdCount: 2
      UnhealthyThresholdCount: 5
      Matcher:
        HttpCode: 200-499
      Tags:
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  GuardrailsListener:
    Type: AWS::ElasticLoadBalancingV2::Listener
    Condition: DeployGuardrails
    Properties:
      LoadBalancerArn: !Ref GuardrailsAlb
      Protocol: HTTPS
      Port: 443
      Certificates:
        - CertificateArn: !GetAtt GuardrailsCertificate.CertificateArn
      SslPolicy: ELBSecurityPolicy-TLS13-1-2-2021-06
      DefaultActions:
        - Type: forward
          TargetGroupArn: !Ref GuardrailsTargetGroup

  GuardrailsLaunchTemplate:
    Type: AWS::EC2::LaunchTemplate
    Condition: DeployGuardrails
    Properties:
      LaunchTemplateName: !Sub '${AWS::StackName}-guardrails-lt'
      LaunchTemplateData:
        ImageId: !Ref GuardrailsAmiId
        InstanceType: !Ref GuardrailsInstanceType
        SecurityGroupIds:
          - !Ref GuardrailsSecurityGroup
        IamInstanceProfile:
          Name: !Ref GuardrailsInstanceProfile
        BlockDeviceMappings:
          - DeviceName: /dev/xvda
            Ebs:
              Encrypted: true
              VolumeSize: 100
              VolumeType: gp3
        MetadataOptions:
          HttpTokens: required
          HttpEndpoint: enabled
        UserData:
          Fn::Base64: !Sub |
            #!/bin/bash
            set -euo pipefail
            exec > /var/log/guardrails-init.log 2>&1
            echo "Starting guardrails container deployment..."
            TOKEN=$(curl -s -X PUT "http://169.254.169.254/latest/api/token" -H "X-aws-ec2-metadata-token-ttl-seconds: 21600")
            REGION=$(curl -s -H "X-aws-ec2-metadata-token: $TOKEN" http://169.254.169.254/latest/meta-data/placement/region)
            IMAGE_URI="${GuardrailsImageUri}"
            CONTAINER_PORT="${GuardrailsContainerPort}"
            REGISTRY=$(echo "$IMAGE_URI" | cut -d/ -f1)
            systemctl start docker || true
            systemctl enable docker || true
            aws ecr get-login-password --region "$REGION" | \
              docker login --username AWS --password-stdin "$REGISTRY"
            docker pull "$IMAGE_URI"
            docker run -d --restart always --gpus all \
              -p "$CONTAINER_PORT:$CONTAINER_PORT" \
              --name guardrails \
              "$IMAGE_URI"
            echo "Guardrails container started on port $CONTAINER_PORT"
        TagSpecifications:
          - ResourceType: instance
            Tags:
              - Key: Name
                Value: !Sub '${AWS::StackName}-guardrails'
              - Key: Project
                Value: !Ref Project
              - Key: Environment
                Value: !Ref Environment
              - Key: ManagedBy
                Value: CloudFormation

  GuardrailsAutoScalingGroup:
    Type: AWS::AutoScaling::AutoScalingGroup
    Condition: DeployGuardrails
    Properties:
      AutoScalingGroupName: !Sub '${AWS::StackName}-guardrails-asg'
      LaunchTemplate:
        LaunchTemplateId: !Ref GuardrailsLaunchTemplate
        Version: !GetAtt GuardrailsLaunchTemplate.LatestVersionNumber
      MinSize: !Ref GuardrailsMinCapacity
      MaxSize: !Ref GuardrailsMaxCapacity
      DesiredCapacity: !Ref GuardrailsDesiredCapacity
      VPCZoneIdentifier:
        - !If [CreateNewPrivateSubnet, !Ref PrivateSubnet, !Ref ExistingPrivateSubnetId]
        - !If [CreateNewPrivateSubnet2, !Ref PrivateSubnet2, !Ref ExistingPrivateSubnet2Id]
      TargetGroupARNs:
        - !Ref GuardrailsTargetGroup
      HealthCheckType: ELB
      HealthCheckGracePeriod: 600
      Tags:
        - Key: Project
          Value: !Ref Project
          PropagateAtLaunch: false
        - Key: Environment
          Value: !Ref Environment
          PropagateAtLaunch: false
        - Key: ManagedBy
          Value: CloudFormation
          PropagateAtLaunch: false

  # ============================================================
  # Gateway ALB Certificate (auto-generated)
  # ============================================================

  GatewayAlbCertificate:
    Type: Custom::AlbCertificate
    Properties:
      ServiceToken: !GetAtt CertGeneratorFunction.Arn
      DomainName: !Ref GatewayAlbDomainName
      CertParameterName: !Sub '/${AWS::StackName}/gateway-cert'
      StackName: !Ref 'AWS::StackName'

  # ============================================================
  # Application Load Balancer
  # ============================================================

  ApplicationLoadBalancer:
    Type: AWS::ElasticLoadBalancingV2::LoadBalancer
    Properties:
      Name: !Sub '${AWS::StackName}-alb'
      Scheme: internet-facing
      Type: application
      Subnets:
        - !If [CreateNewPublicSubnet, !Ref PublicSubnet, !Ref ExistingPublicSubnetId]
        - !If [CreateNewPublicSubnet2, !Ref PublicSubnet2, !Ref ExistingPublicSubnet2Id]
      SecurityGroups:
        - !Ref ALBSecurityGroup
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName}-alb'
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  ALBTargetGroup:
    Type: AWS::ElasticLoadBalancingV2::TargetGroup
    Properties:
      Name: !Sub '${AWS::StackName}-tg'
      Port: 443
      Protocol: HTTPS
      VpcId: !If [CreateNewVpc, !Ref Vpc, !Ref ExistingVpcId]
      TargetType: instance
      HealthCheckProtocol: HTTPS
      HealthCheckPath: /
      HealthyThresholdCount: 2
      UnhealthyThresholdCount: 5
      HealthCheckIntervalSeconds: 30
      Matcher:
        HttpCode: '200-499'
      Tags:
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  ALBListener:
    Type: AWS::ElasticLoadBalancingV2::Listener
    Properties:
      LoadBalancerArn: !Ref ApplicationLoadBalancer
      Port: 443
      Protocol: HTTPS
      Certificates:
        - CertificateArn: !GetAtt GatewayAlbCertificate.CertificateArn
      DefaultActions:
        - Type: forward
          TargetGroupArn: !Ref ALBTargetGroup

  # ============================================================
  # Launch Template + Auto Scaling Group
  # ============================================================

  GatewayLaunchTemplate:
    Type: AWS::EC2::LaunchTemplate
    Properties:
      LaunchTemplateName: !Sub '${AWS::StackName}-lt'
      LaunchTemplateData:
        ImageId: !Ref GatewayAmiId
        InstanceType: !Ref InstanceType
        KeyName: !Sub '${AWS::StackName}-key'
        SecurityGroupIds:
          - !Ref GatewaySecurityGroup
        IamInstanceProfile:
          Name: !Ref GatewayInstanceProfile
        BlockDeviceMappings:
          - DeviceName: /dev/sda1
            Ebs:
              Encrypted: true
              VolumeSize: 400
              VolumeType: gp3
        MetadataOptions:
          HttpTokens: required
          HttpEndpoint: enabled
        TagSpecifications:
          - ResourceType: instance
            Tags:
              - Key: Name
                Value: !Sub '${AWS::StackName}-gateway'
              - Key: Project
                Value: !Ref Project
              - Key: Environment
                Value: !Ref Environment
              - Key: ManagedBy
                Value: CloudFormation

  GatewayAutoScalingGroup:
    Type: AWS::AutoScaling::AutoScalingGroup
    DependsOn:
      - LifecycleSnsSubscription
      - LambdaLifecyclePermission
    Properties:
      AutoScalingGroupName: !Sub '${AWS::StackName}-asg'
      LaunchTemplate:
        LaunchTemplateId: !Ref GatewayLaunchTemplate
        Version: !GetAtt GatewayLaunchTemplate.LatestVersionNumber
      MinSize: !Ref MinCapacity
      MaxSize: !Ref MaxCapacity
      DesiredCapacity: !Ref DesiredCapacity
      VPCZoneIdentifier:
        - !If [CreateNewPrivateSubnet, !Ref PrivateSubnet, !Ref ExistingPrivateSubnetId]
        - !If [CreateNewPrivateSubnet2, !Ref PrivateSubnet2, !Ref ExistingPrivateSubnet2Id]
      TargetGroupARNs:
        - !Ref ALBTargetGroup
      HealthCheckType: ELB
      HealthCheckGracePeriod: 900
      LifecycleHookSpecificationList:
        - LifecycleHookName: !Sub '${AWS::StackName}-launch-hook'
          LifecycleTransition: 'autoscaling:EC2_INSTANCE_LAUNCHING'
          HeartbeatTimeout: 1800
          DefaultResult: ABANDON
          NotificationTargetARN: !Ref LifecycleSnsTopic
          RoleARN: !GetAtt LifecycleSnsRole.Arn
        - LifecycleHookName: !Sub '${AWS::StackName}-terminate-hook'
          LifecycleTransition: 'autoscaling:EC2_INSTANCE_TERMINATING'
          HeartbeatTimeout: 300
          DefaultResult: CONTINUE
          NotificationTargetARN: !Ref LifecycleSnsTopic
          RoleARN: !GetAtt LifecycleSnsRole.Arn
      Tags:
        - Key: Project
          Value: !Ref Project
          PropagateAtLaunch: false
        - Key: Environment
          Value: !Ref Environment
          PropagateAtLaunch: false
        - Key: ManagedBy
          Value: CloudFormation
          PropagateAtLaunch: false

  # ============================================================
  # Lifecycle Hooks
  # ============================================================

  # ============================================================
  # Lifecycle Hook SNS Integration
  # ============================================================

  LifecycleSnsTopic:
    Type: AWS::SNS::Topic
    Properties:
      TopicName: !Sub '${AWS::StackName}-lifecycle'
      Tags:
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  LifecycleSnsSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      TopicArn: !Ref LifecycleSnsTopic
      Protocol: lambda
      Endpoint: !GetAtt ActivationLambdaFunction.Arn

  LambdaLifecyclePermission:
    Type: AWS::Lambda::Permission
    Properties:
      Action: lambda:InvokeFunction
      FunctionName: !Ref ActivationLambdaFunction
      Principal: sns.amazonaws.com
      SourceArn: !Ref LifecycleSnsTopic

  LifecycleSnsRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${AWS::StackName}-lifecycle-sns-role'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: autoscaling.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: PublishToSns
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: sns:Publish
                Resource: !Ref LifecycleSnsTopic
      Tags:
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation


Outputs:
  VpcId:
    Description: VPC ID
    Value: !If [CreateNewVpc, !Ref Vpc, !Ref ExistingVpcId]
    Export:
      Name: !Sub '${AWS::StackName}-VpcId'

  PublicSubnetId:
    Description: Public subnet ID
    Value: !If [CreateNewPublicSubnet, !Ref PublicSubnet, !Ref ExistingPublicSubnetId]
    Export:
      Name: !Sub '${AWS::StackName}-PublicSubnetId'

  PrivateSubnetId:
    Description: Private subnet ID (AZ 1)
    Value: !If [CreateNewPrivateSubnet, !Ref PrivateSubnet, !Ref ExistingPrivateSubnetId]
    Export:
      Name: !Sub '${AWS::StackName}-PrivateSubnetId'

  GatewaySecurityGroupId:
    Description: Gateway security group ID
    Value: !Ref GatewaySecurityGroup
    Export:
      Name: !Sub '${AWS::StackName}-GatewaySecurityGroupId'

  ALBDnsName:
    Description: ALB DNS name
    Value: !GetAtt ApplicationLoadBalancer.DNSName
    Export:
      Name: !Sub '${AWS::StackName}-ALBDnsName'

  ALBHostedZoneId:
    Description: ALB hosted zone ID (for Route 53 alias records)
    Value: !GetAtt ApplicationLoadBalancer.CanonicalHostedZoneID

  AutoScalingGroupName:
    Description: Auto Scaling group name
    Value: !Ref GatewayAutoScalingGroup
    Export:
      Name: !Sub '${AWS::StackName}-AutoScalingGroupName'

  DlpodAutoScalingGroupName:
    Condition: DeployDlpod
    Description: DLPoD Auto Scaling group name
    Value: !Ref DlpodAutoScalingGroup

  DlpHostUrl:
    Condition: DeployDlpod
    Description: DLP host URL for AI Gateway configuration
    Value: !Sub 'https://${DlpDomainName}'

  DlpodAlbDnsName:
    Condition: DeployDlpod
    Description: DLPoD ALB DNS name
    Value: !GetAtt DlpodAlb.DNSName

  GuardrailsAutoScalingGroupName:
    Condition: DeployGuardrails
    Description: Guardrails Auto Scaling group name
    Value: !Ref GuardrailsAutoScalingGroup

  GuardrailsAlbDnsName:
    Condition: DeployGuardrails
    Description: Guardrails internal ALB DNS name
    Value: !GetAtt GuardrailsAlb.DNSName

  GuardrailsHostUrl:
    Condition: DeployGuardrails
    Description: Guardrails host URL for AI Gateway configuration
    Value: !Sub 'https://${GuardrailsDomainName}'

  GuardrailsSecurityGroupId:
    Condition: DeployGuardrails
    Description: Guardrails instance security group ID
    Value: !Ref GuardrailsSecurityGroup