templates/gateway-asg.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: >
  Netskope AI Gateway - Auto Scaling deployment with ALB.
  Deploys gateway instances in an ASG with lifecycle hooks for
  automated enrollment and deregistration.

Metadata:
  AWS::CloudFormation::Interface:
    ParameterGroups:
      - Label:
          default: Netskope Tenant Configuration
        Parameters:
          - NetskopeTenantUrl
          - NetskopeApiToken
          - DlpHostUrl
      - Label:
          default: Network Configuration
        Parameters:
          - ExistingVpcId
          - ExistingPublicSubnetId
          - ExistingPublicSubnet2Id
          - ExistingPrivateSubnetId
          - ExistingPrivateSubnet2Id
          - VpcCidr
          - PublicSubnetCidr
          - PublicSubnet2Cidr
          - PrivateSubnetCidr
          - PrivateSubnet2Cidr
      - Label:
          default: Gateway Instance Configuration
        Parameters:
          - GatewayAmiId
          - InstanceType
      - Label:
          default: Load Balancer Configuration
        Parameters:
          - AcmCertificateArn
      - Label:
          default: Auto Scaling Configuration
        Parameters:
          - MinCapacity
          - MaxCapacity
          - DesiredCapacity
      - Label:
          default: Lambda Deployment
        Parameters:
          - LambdaCodeBucket
          - LambdaCodeKey
          - LambdaLayerKey
      - Label:
          default: Tagging
        Parameters:
          - Project
          - Environment
    ParameterLabels:
      NetskopeTenantUrl:
        default: Netskope Tenant URL
      NetskopeApiToken:
        default: Netskope API Token
      ExistingVpcId:
        default: Existing VPC ID (optional)
      ExistingPublicSubnetId:
        default: Existing Public Subnet ID (AZ 1)
      VpcCidr:
        default: New VPC CIDR Block
      PublicSubnetCidr:
        default: New Public Subnet CIDR
      GatewayAmiId:
        default: Gateway AMI ID
      InstanceType:
        default: Gateway Instance Type
      ExistingPublicSubnet2Id:
        default: Existing Public Subnet 2 ID (AZ 2)
      PublicSubnet2Cidr:
        default: New Public Subnet 2 CIDR
      ExistingPrivateSubnetId:
        default: Existing Private Subnet ID (AZ 1)
      ExistingPrivateSubnet2Id:
        default: Existing Private Subnet 2 ID (AZ 2)
      PrivateSubnetCidr:
        default: New Private Subnet CIDR
      PrivateSubnet2Cidr:
        default: New Private Subnet 2 CIDR
      AcmCertificateArn:
        default: ACM Certificate ARN
      MinCapacity:
        default: Minimum Instances
      MaxCapacity:
        default: Maximum Instances
      DesiredCapacity:
        default: Desired Instances
      DlpHostUrl:
        default: DLP Host URL
      Project:
        default: Project Name
      Environment:
        default: Environment Name

Parameters:
  ExistingVpcId:
    Type: String
    Default: ''
    AllowedPattern: '^(vpc-[a-z0-9]+)?$'
    ConstraintDescription: Must be a valid VPC ID (vpc-xxx) or empty to create a new VPC.
    Description: 'ID of an existing VPC to deploy into. Leave empty to create a new VPC.'

  ExistingPublicSubnetId:
    Type: String
    Default: ''
    AllowedPattern: '^(subnet-[a-z0-9]+)?$'
    ConstraintDescription: Must be a valid subnet ID (subnet-xxx) or empty to create a new subnet.
    Description: 'Existing public subnet for ALB (AZ 1). Leave empty to create new.'

  ExistingPublicSubnet2Id:
    Type: String
    Default: ''
    AllowedPattern: '^(subnet-[a-z0-9]+)?$'
    ConstraintDescription: Must be a valid subnet ID (subnet-xxx) or empty to create a new subnet.
    Description: 'Existing public subnet for ALB (AZ 2). Leave empty to create new.'

  AcmCertificateArn:
    Type: String
    Description: 'ACM certificate ARN for the ALB HTTPS listener'

  MinCapacity:
    Type: Number
    Default: 1
    MinValue: 1
    Description: Minimum number of gateway instances

  MaxCapacity:
    Type: Number
    Default: 3
    MinValue: 1
    Description: Maximum number of gateway instances

  DesiredCapacity:
    Type: Number
    Default: 1
    MinValue: 1
    Description: Desired number of gateway instances

  NetskopeTenantUrl:
    Type: String
    Description: 'Netskope tenant URL (e.g., https://tenant.goskope.com)'
    AllowedPattern: 'https://.+'
    ConstraintDescription: Must be a valid HTTPS URL

  NetskopeApiToken:
    Type: String
    NoEcho: true
    Description: Netskope API token for gateway activation

  VpcCidr:
    Type: String
    Default: '10.0.0.0/16'
    AllowedPattern: '(\d{1,3})\.(\d{1,3})\.(\d{1,3})\.(\d{1,3})/(\d{1,2})'
    ConstraintDescription: Must be a valid CIDR block (e.g., 10.0.0.0/16)
    Description: CIDR block for the VPC

  PublicSubnetCidr:
    Type: String
    Default: '10.0.1.0/24'
    AllowedPattern: '(\d{1,3})\.(\d{1,3})\.(\d{1,3})\.(\d{1,3})/(\d{1,2})'
    ConstraintDescription: Must be a valid CIDR block (e.g., 10.0.1.0/24)
    Description: CIDR block for the public subnet (gateway instance)

  PublicSubnet2Cidr:
    Type: String
    Default: '10.0.2.0/24'
    AllowedPattern: '(\d{1,3})\.(\d{1,3})\.(\d{1,3})\.(\d{1,3})/(\d{1,2})'
    ConstraintDescription: Must be a valid CIDR block (e.g., 10.0.2.0/24)
    Description: CIDR block for the second public subnet (different AZ)

  ExistingPrivateSubnetId:
    Type: String
    Default: ''
    AllowedPattern: '^(subnet-[a-z0-9]+)?$'
    ConstraintDescription: Must be a valid subnet ID (subnet-xxx) or empty to create a new subnet.
    Description: 'Existing private subnet for gateway instances (AZ 1). Leave empty to create new.'

  ExistingPrivateSubnet2Id:
    Type: String
    Default: ''
    AllowedPattern: '^(subnet-[a-z0-9]+)?$'
    ConstraintDescription: Must be a valid subnet ID (subnet-xxx) or empty to create a new subnet.
    Description: 'Existing private subnet for gateway instances (AZ 2). Leave empty to create new.'

  PrivateSubnetCidr:
    Type: String
    Default: '10.0.10.0/24'
    AllowedPattern: '(\d{1,3})\.(\d{1,3})\.(\d{1,3})\.(\d{1,3})/(\d{1,2})'
    ConstraintDescription: Must be a valid CIDR block (e.g., 10.0.10.0/24)
    Description: CIDR block for the first private subnet (gateway instances)

  PrivateSubnet2Cidr:
    Type: String
    Default: '10.0.11.0/24'
    AllowedPattern: '(\d{1,3})\.(\d{1,3})\.(\d{1,3})\.(\d{1,3})/(\d{1,2})'
    ConstraintDescription: Must be a valid CIDR block (e.g., 10.0.11.0/24)
    Description: CIDR block for the second private subnet (gateway instances)

  GatewayAmiId:
    Type: AWS::EC2::Image::Id
    Default: 'ami-0010b83013995a493'
    Description: AMI ID for the Netskope AI Gateway appliance

  InstanceType:
    Type: String
    Default: m5.4xlarge
    AllowedValues:
      - m5.4xlarge
      - m6i.4xlarge
      - c5.4xlarge
    Description: EC2 instance type for the gateway (minimum 16 vCPU, 64 GiB RAM)

  DlpHostUrl:
    Type: String
    Default: ''
    Description: 'DLP on-demand host URL (e.g., https://dlpod.internal). Leave empty to skip DLP configuration.'

  Project:
    Type: String
    Default: netskope-ai-gateway
    Description: Project name, used as a tag value.
    AllowedPattern: '^[a-z0-9-]+$'
    ConstraintDescription: Lowercase alphanumeric and hyphens only.

  Environment:
    Type: String
    Default: dev
    AllowedValues:
      - dev
      - staging
      - prod
    Description: Deployment environment

  LambdaCodeBucket:
    Type: String
    Description: S3 bucket containing Lambda deployment package and layer

  LambdaCodeKey:
    Type: String
    Default: lambda-step-function.zip
    Description: S3 key for the enrollment Lambda package

  LambdaLayerKey:
    Type: String
    Default: layers/pexpect-layer.zip
    Description: S3 key for the paramiko/pyte Lambda Layer

Conditions:
  CreateNewVpc: !Equals [!Ref ExistingVpcId, '']
  CreateNewPublicSubnet: !Equals [!Ref ExistingPublicSubnetId, '']
  CreateNewPublicSubnet2: !Equals [!Ref ExistingPublicSubnet2Id, '']
  CreateNewPrivateSubnet: !Equals [!Ref ExistingPrivateSubnetId, '']
  CreateNewPrivateSubnet2: !Equals [!Ref ExistingPrivateSubnet2Id, '']

Resources:

  # ============================================================
  # VPC and Networking (only created when no existing VPC/subnet)
  # ============================================================

  Vpc:
    Type: AWS::EC2::VPC
    Condition: CreateNewVpc
    Properties:
      CidrBlock: !Ref VpcCidr
      EnableDnsSupport: true
      EnableDnsHostnames: true
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName}-vpc'
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  InternetGateway:
    Type: AWS::EC2::InternetGateway
    Condition: CreateNewVpc
    Properties:
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName}-igw'
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  InternetGatewayAttachment:
    Type: AWS::EC2::VPCGatewayAttachment
    Condition: CreateNewVpc
    Properties:
      InternetGatewayId: !Ref InternetGateway
      VpcId: !Ref Vpc

  # ============================================================
  # Public Subnet (Gateway Instance)
  # ============================================================

  PublicSubnet:
    Type: AWS::EC2::Subnet
    Condition: CreateNewPublicSubnet
    Properties:
      VpcId: !Ref Vpc
      CidrBlock: !Ref PublicSubnetCidr
      AvailabilityZone: !Select [0, !GetAZs '']
      MapPublicIpOnLaunch: false
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName}-public-subnet'
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  PublicRouteTable:
    Type: AWS::EC2::RouteTable
    Condition: CreateNewVpc
    Properties:
      VpcId: !Ref Vpc
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName}-public-rt'
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  PublicDefaultRoute:
    Type: AWS::EC2::Route
    Condition: CreateNewVpc
    DependsOn: InternetGatewayAttachment
    Properties:
      RouteTableId: !Ref PublicRouteTable
      DestinationCidrBlock: '0.0.0.0/0'
      GatewayId: !Ref InternetGateway

  PublicSubnetRouteTableAssociation:
    Type: AWS::EC2::SubnetRouteTableAssociation
    Condition: CreateNewVpc
    Properties:
      SubnetId: !Ref PublicSubnet
      RouteTableId: !Ref PublicRouteTable

  PublicSubnet2:
    Type: AWS::EC2::Subnet
    Condition: CreateNewPublicSubnet2
    Properties:
      VpcId: !Ref Vpc
      CidrBlock: !Ref PublicSubnet2Cidr
      AvailabilityZone: !Select [1, !GetAZs '']
      MapPublicIpOnLaunch: true
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName}-public-subnet-2'
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  PublicSubnetRouteTableAssociation2:
    Type: AWS::EC2::SubnetRouteTableAssociation
    Condition: CreateNewVpc
    Properties:
      SubnetId: !If [CreateNewPublicSubnet2, !Ref PublicSubnet2, !Ref ExistingPublicSubnet2Id]
      RouteTableId: !Ref PublicRouteTable

  # ============================================================
  # NAT Gateway (for private subnet internet access)
  # ============================================================

  NatGatewayEip:
    Type: AWS::EC2::EIP
    Condition: CreateNewVpc
    Properties:
      Domain: vpc
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName}-nat-eip'
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  NatGateway:
    Type: AWS::EC2::NatGateway
    Condition: CreateNewVpc
    Properties:
      AllocationId: !GetAtt NatGatewayEip.AllocationId
      SubnetId: !Ref PublicSubnet
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName}-nat'
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  # ============================================================
  # Private Subnets (Gateway Instances)
  # ============================================================

  PrivateSubnet:
    Type: AWS::EC2::Subnet
    Condition: CreateNewPrivateSubnet
    Properties:
      VpcId: !Ref Vpc
      CidrBlock: !Ref PrivateSubnetCidr
      AvailabilityZone: !Select [0, !GetAZs '']
      MapPublicIpOnLaunch: false
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName}-private-subnet'
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  PrivateSubnet2:
    Type: AWS::EC2::Subnet
    Condition: CreateNewPrivateSubnet2
    Properties:
      VpcId: !Ref Vpc
      CidrBlock: !Ref PrivateSubnet2Cidr
      AvailabilityZone: !Select [1, !GetAZs '']
      MapPublicIpOnLaunch: false
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName}-private-subnet-2'
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  PrivateRouteTable:
    Type: AWS::EC2::RouteTable
    Condition: CreateNewVpc
    Properties:
      VpcId: !Ref Vpc
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName}-private-rt'
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  PrivateDefaultRoute:
    Type: AWS::EC2::Route
    Condition: CreateNewVpc
    DependsOn: NatGateway
    Properties:
      RouteTableId: !Ref PrivateRouteTable
      DestinationCidrBlock: '0.0.0.0/0'
      NatGatewayId: !Ref NatGateway

  PrivateSubnetRouteTableAssociation:
    Type: AWS::EC2::SubnetRouteTableAssociation
    Condition: CreateNewVpc
    Properties:
      SubnetId: !If [CreateNewPrivateSubnet, !Ref PrivateSubnet, !Ref ExistingPrivateSubnetId]
      RouteTableId: !Ref PrivateRouteTable

  PrivateSubnetRouteTableAssociation2:
    Type: AWS::EC2::SubnetRouteTableAssociation
    Condition: CreateNewVpc
    Properties:
      SubnetId: !If [CreateNewPrivateSubnet2, !Ref PrivateSubnet2, !Ref ExistingPrivateSubnet2Id]
      RouteTableId: !Ref PrivateRouteTable

  # ============================================================
  # VPC Endpoints (only when creating a new VPC)
  # ============================================================

  VpcEndpointSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: VPC interface endpoints - HTTPS from Lambda and VPC
      VpcId: !If [CreateNewVpc, !Ref Vpc, !Ref ExistingVpcId]
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          SourceSecurityGroupId: !Ref LambdaSecurityGroup
          Description: HTTPS from enrollment Lambda
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: !Ref VpcCidr
          Description: HTTPS from VPC
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName}-vpce-sg'
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  S3GatewayEndpoint:
    Type: AWS::EC2::VPCEndpoint
    Condition: CreateNewVpc
    Properties:
      VpcId: !Ref Vpc
      ServiceName: !Sub 'com.amazonaws.${AWS::Region}.s3'
      VpcEndpointType: Gateway
      RouteTableIds:
        - !Ref PublicRouteTable
        - !Ref PrivateRouteTable

  SecretsManagerEndpoint:
    Type: AWS::EC2::VPCEndpoint
    Properties:
      VpcId: !If [CreateNewVpc, !Ref Vpc, !Ref ExistingVpcId]
      ServiceName: !Sub 'com.amazonaws.${AWS::Region}.secretsmanager'
      VpcEndpointType: Interface
      PrivateDnsEnabled: true
      SubnetIds:
        - !If [CreateNewPrivateSubnet, !Ref PrivateSubnet, !Ref ExistingPrivateSubnetId]
        - !If [CreateNewPrivateSubnet2, !Ref PrivateSubnet2, !Ref ExistingPrivateSubnet2Id]
      SecurityGroupIds:
        - !Ref VpcEndpointSecurityGroup

  # ============================================================
  # Security Groups
  # ============================================================

  ALBSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: ALB - HTTPS from internet
      VpcId: !If [CreateNewVpc, !Ref Vpc, !Ref ExistingVpcId]
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: '0.0.0.0/0'
          Description: HTTPS from internet
      SecurityGroupEgress:
        - IpProtocol: '-1'
          CidrIp: '0.0.0.0/0'
          Description: All outbound
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName}-alb-sg'
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  LambdaSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: Enrollment Lambda - SSH to gateways
      VpcId: !If [CreateNewVpc, !Ref Vpc, !Ref ExistingVpcId]
      SecurityGroupEgress:
        - IpProtocol: '-1'
          CidrIp: '0.0.0.0/0'
          Description: All outbound
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName}-lambda-sg'
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  GatewaySecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: Netskope AI Gateway instance - HTTPS from ALB and VPC
      VpcId: !If [CreateNewVpc, !Ref Vpc, !Ref ExistingVpcId]
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          SourceSecurityGroupId: !Ref ALBSecurityGroup
          Description: HTTPS from ALB
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: !Ref VpcCidr
          Description: HTTPS from VPC consumers
        - IpProtocol: tcp
          FromPort: 22
          ToPort: 22
          SourceSecurityGroupId: !Ref LambdaSecurityGroup
          Description: SSH from enrollment Lambda
        - IpProtocol: tcp
          FromPort: 22
          ToPort: 22
          SourceSecurityGroupId: !Ref LambdaSecurityGroup
          Description: SSH from enrollment Lambda
      SecurityGroupEgress:
        - IpProtocol: '-1'
          CidrIp: '0.0.0.0/0'
          Description: All outbound traffic for appliance internal services and API connectivity
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName}-gateway-sg'
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  # ============================================================
  # IAM Role and Instance Profile
  # ============================================================

  GatewayRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${AWS::StackName}-gateway-role'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: ec2.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/CloudWatchAgentServerPolicy
      Tags:
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  GatewayInstanceProfile:
    Type: AWS::IAM::InstanceProfile
    Properties:
      InstanceProfileName: !Sub '${AWS::StackName}-gateway-profile'
      Roles:
        - !Ref GatewayRole

  # ============================================================
  # Secrets Manager — Netskope API Credentials
  # ============================================================

  NetskopeSecret:
    Type: AWS::SecretsManager::Secret
    Properties:
      Name: !Sub '${AWS::StackName}-netskope-credentials'
      Description: Netskope tenant URL and API token for AI Gateway activation
      SecretString: !Sub |
        {"tenant_url": "${NetskopeTenantUrl}", "api_token": "${NetskopeApiToken}"}
      Tags:
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  # ============================================================
  # SSH Key Pair Generation
  # ============================================================

  SSHPrivateKeySecret:
    Type: AWS::SecretsManager::Secret
    Properties:
      Name: !Sub '${AWS::StackName}-ssh-private-key'
      Description: SSH private key for Lambda-to-gateway automation
      Tags:
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  SSHKeyGeneratorRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${AWS::StackName}-keygen-role'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: KeyGenPermissions
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - ec2:CreateKeyPair
                  - ec2:DeleteKeyPair
                Resource: '*'
              - Effect: Allow
                Action:
                  - secretsmanager:PutSecretValue
                Resource: !Ref SSHPrivateKeySecret
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: '*'
      Tags:
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  SSHKeyGeneratorFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub '${AWS::StackName}-keygen'
      Runtime: python3.12
      Handler: index.handler
      Timeout: 30
      Role: !GetAtt SSHKeyGeneratorRole.Arn
      Code:
        ZipFile: |
          import json
          import boto3
          import cfnresponse
          import logging

          logger = logging.getLogger()
          logger.setLevel(logging.INFO)

          ec2 = boto3.client('ec2')
          sm = boto3.client('secretsmanager')

          def handler(event, context):
              key_pair_name = event['ResourceProperties']['KeyPairName']
              secret_arn = event['ResourceProperties']['SecretArn']
              request_type = event['RequestType']

              try:
                  if request_type == 'Create':
                      resp = ec2.create_key_pair(
                          KeyName=key_pair_name,
                          KeyType='rsa',
                          KeyFormat='pem',
                      )
                      sm.put_secret_value(
                          SecretId=secret_arn,
                          SecretString=resp['KeyMaterial'],
                      )
                      logger.info('Created key pair: %s', key_pair_name)
                      cfnresponse.send(event, context, cfnresponse.SUCCESS, {
                          'KeyPairName': key_pair_name,
                      }, physicalResourceId=key_pair_name)

                  elif request_type == 'Delete':
                      try:
                          ec2.delete_key_pair(KeyName=key_pair_name)
                      except Exception:
                          logger.exception('Failed to delete key pair')
                      cfnresponse.send(event, context, cfnresponse.SUCCESS, {},
                                       physicalResourceId=key_pair_name)
                  else:
                      cfnresponse.send(event, context, cfnresponse.SUCCESS, {
                          'KeyPairName': key_pair_name,
                      }, physicalResourceId=key_pair_name)

              except Exception:
                  logger.exception('Key generation failed')
                  cfnresponse.send(event, context, cfnresponse.FAILED, {},
                                   physicalResourceId=key_pair_name)
      Tags:
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  SSHKeyPair:
    Type: Custom::SSHKeyPair
    Properties:
      ServiceToken: !GetAtt SSHKeyGeneratorFunction.Arn
      KeyPairName: !Sub '${AWS::StackName}-key'
      SecretArn: !Ref SSHPrivateKeySecret

  # ============================================================
  # Activation Lambda (Lifecycle Dispatcher)
  # ============================================================

  ActivationLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${AWS::StackName}-activation-lambda-role'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: ActivationLambdaPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Sid: GetNetskopeSecret
                Effect: Allow
                Action:
                  - secretsmanager:GetSecretValue
                Resource: !Ref NetskopeSecret
              - Sid: DescribeInstances
                Effect: Allow
                Action:
                  - ec2:DescribeInstances
                Resource: '*'
              - Sid: CompleteLifecycleAction
                Effect: Allow
                Action:
                  - autoscaling:CompleteLifecycleAction
                Resource: !Sub 'arn:aws:autoscaling:${AWS::Region}:${AWS::AccountId}:autoScalingGroup:*:autoScalingGroupName/${AWS::StackName}-*'
              - Sid: StoreApplianceMapping
                Effect: Allow
                Action:
                  - ssm:PutParameter
                  - ssm:GetParameter
                  - ssm:DeleteParameter
                Resource: !Sub 'arn:aws:ssm:${AWS::Region}:${AWS::AccountId}:parameter/aig/${AWS::StackName}/*/appliance-id'
              - Sid: StartStepFunction
                Effect: Allow
                Action:
                  - states:StartExecution
                Resource: !Sub 'arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:${AWS::StackName}-enrollment'
              - Sid: WriteLogs
                Effect: Allow
                Action:
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: !GetAtt ActivationLambdaLogGroup.Arn
      Tags:
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  ActivationLambdaLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub '/aws/lambda/${AWS::StackName}-activation'
      RetentionInDays: 30
      Tags:
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  ActivationLambdaFunction:
    Type: AWS::Lambda::Function
    DependsOn: ActivationLambdaLogGroup
    Properties:
      FunctionName: !Sub '${AWS::StackName}-activation'
      Description: >
        Handles ASG lifecycle events. On launch: registers appliance with
        Netskope tenant and starts Step Functions enrollment. On terminate:
        deregisters appliance and cleans up.
      Runtime: python3.12
      Handler: index.handler
      Timeout: 300
      MemorySize: 128
      ReservedConcurrentExecutions: 5
      Role: !GetAtt ActivationLambdaRole.Arn
      Environment:
        Variables:
          STACK_NAME: !Ref 'AWS::StackName'
          SECRET_ARN: !Ref NetskopeSecret
          STATE_MACHINE_ARN: !Ref EnrollmentStateMachine
      Code:
        ZipFile: |
          import json
          import os
          import logging
          import urllib.request
          import urllib.error
          import boto3
          import cfnresponse

          logger = logging.getLogger()
          logger.setLevel(logging.INFO)

          ssm = boto3.client('ssm')
          ec2_client = boto3.client('ec2')
          asg_client = boto3.client('autoscaling')
          sfn_client = boto3.client('stepfunctions')

          def get_instance_private_ip(instance_id):
              resp = ec2_client.describe_instances(InstanceIds=[instance_id])
              reservations = resp.get('Reservations', [])
              if reservations:
                  instances = reservations[0].get('Instances', [])
                  if instances:
                      return instances[0].get('PrivateIpAddress', 'unknown')
              return 'unknown'

          def complete_lifecycle_action(detail, result='CONTINUE'):
              asg_client.complete_lifecycle_action(
                  LifecycleHookName=detail['LifecycleHookName'],
                  AutoScalingGroupName=detail['AutoScalingGroupName'],
                  LifecycleActionToken=detail['LifecycleActionToken'],
                  LifecycleActionResult=result,
              )
              logger.info('Completed lifecycle action: %s', result)

          def get_secret(secret_arn):
              client = boto3.client('secretsmanager')
              resp = client.get_secret_value(SecretId=secret_arn)
              return json.loads(resp['SecretString'])

          def api_request(tenant_url, path, token, method='GET', body=None):
              url = f"{tenant_url.rstrip('/')}{path}"
              data = json.dumps(body).encode() if body else None
              req = urllib.request.Request(url, data=data, method=method)
              req.add_header('Netskope-Api-Token', token)
              req.add_header('Content-Type', 'application/json')
              try:
                  with urllib.request.urlopen(req) as resp:
                      return json.loads(resp.read().decode())
              except urllib.error.HTTPError as e:
                  error_body = e.read().decode() if e.fp else ''
                  logger.error('API %s %s -> %s: %s', method, path, e.code, error_body)
                  raise

          def register_appliance(tenant_url, api_token, appliance_name, instance_ip):
              """Register appliance with Netskope tenant and return (appliance_id, enrollment_token)."""
              appliance = api_request(
                  tenant_url,
                  '/api/v2/aig/appliances',
                  api_token,
                  method='POST',
                  body={
                      'name': appliance_name,
                      'host': instance_ip,
                      'ports': {
                          'https': {'port': 443, 'enable': True},
                          'http': {'port': 80, 'enable': False},
                      },
                  },
              )
              appliance_id = str(appliance['id'])
              enrollment_token = appliance.get('enrollment_token', '')
              logger.info('Created appliance %s', appliance_id)

              if not enrollment_token:
                  try:
                      token_resp = api_request(
                          tenant_url,
                          f'/api/v2/aig/appliances/{appliance_id}/enrollmenttokens',
                          api_token,
                          method='POST',
                      )
                      enrollment_token = token_resp.get('token') or token_resp.get('enrollment_token', '')
                  except Exception:
                      logger.exception('Token creation failed — deleting orphan appliance %s', appliance_id)
                      try:
                          api_request(tenant_url, f'/api/v2/aig/appliances/{appliance_id}', api_token, method='DELETE')
                      except Exception:
                          logger.exception('Cleanup delete also failed')
                      raise

              if not enrollment_token:
                  raise ValueError('Enrollment token not found in API response')

              return appliance_id, enrollment_token

          def deregister_appliance(tenant_url, api_token, appliance_id):
              """Deregister appliance from Netskope tenant."""
              try:
                  api_request(tenant_url, f'/api/v2/aig/appliances/{appliance_id}', api_token, method='DELETE')
                  logger.info('Deleted appliance %s', appliance_id)
              except Exception:
                  logger.exception('Delete failed for appliance %s — continuing', appliance_id)

          def start_enrollment(instance_id, instance_ip, appliance_id, enrollment_token,
                               lifecycle_detail=None):
              """Start the Step Functions enrollment state machine."""
              state_machine_arn = os.environ['STATE_MACHINE_ARN']
              sfn_input = {
                  'instance_ip': instance_ip,
                  'appliance_id': appliance_id,
                  'enrollment_token': enrollment_token,
              }
              if lifecycle_detail:
                  sfn_input['lifecycle'] = {
                      'hook_name': lifecycle_detail.get('LifecycleHookName', ''),
                      'asg_name': lifecycle_detail.get('AutoScalingGroupName', ''),
                      'action_token': lifecycle_detail.get('LifecycleActionToken', ''),
                  }
              resp = sfn_client.start_execution(
                  stateMachineArn=state_machine_arn,
                  name=f'enroll-{instance_id}',
                  input=json.dumps(sfn_input),
              )
              logger.info('Started enrollment %s for %s', resp['executionArn'], instance_id)
              return resp['executionArn']

          def handle_lifecycle_event(event, context):
              """Handle ASG lifecycle hook events (launch/terminate)."""
              detail = event.get('detail', event)
              instance_id = detail['EC2InstanceId']
              transition = detail['LifecycleTransition']

              stack_name = os.environ['STACK_NAME']
              secret_arn = os.environ['SECRET_ARN']

              try:
                  if transition == 'autoscaling:EC2_INSTANCE_LAUNCHING':
                      secret = get_secret(secret_arn)
                      instance_ip = get_instance_private_ip(instance_id)
                      appliance_name = f'{stack_name}-gw-{instance_id}'

                      appliance_id, enrollment_token = register_appliance(
                          secret['tenant_url'], secret['api_token'],
                          appliance_name, instance_ip,
                      )

                      # Store appliance ID for cleanup on termination
                      ssm.put_parameter(
                          Name=f'/aig/{stack_name}/{instance_id}/appliance-id',
                          Value=appliance_id, Type='String', Overwrite=True,
                      )

                      # Start Step Functions enrollment — it will complete
                      # the lifecycle action after enrollment succeeds
                      try:
                          start_enrollment(
                              instance_id, instance_ip,
                              appliance_id, enrollment_token,
                              lifecycle_detail=detail,
                          )
                      except Exception:
                          logger.exception('Step Functions start failed — abandoning lifecycle')
                          try:
                              complete_lifecycle_action(detail, 'ABANDON')
                          except Exception:
                              logger.exception('Failed to abandon lifecycle action')

                  elif transition == 'autoscaling:EC2_INSTANCE_TERMINATING':
                      appliance_id = None
                      try:
                          resp = ssm.get_parameter(Name=f'/aig/{stack_name}/{instance_id}/appliance-id')
                          appliance_id = resp['Parameter']['Value']
                      except Exception:
                          logger.warning('No appliance ID found for %s', instance_id)

                      if appliance_id:
                          secret = get_secret(secret_arn)
                          deregister_appliance(secret['tenant_url'], secret['api_token'], appliance_id)

                      # Clean up SSM parameters
                      try:
                          ssm.delete_parameter(Name=f'/aig/{stack_name}/{instance_id}/appliance-id')
                      except Exception:
                          pass

                      complete_lifecycle_action(detail, 'CONTINUE')

              except Exception:
                  logger.exception('Lifecycle handler failed for %s', instance_id)
                  try:
                      complete_lifecycle_action(detail, 'ABANDON')
                  except Exception:
                      logger.exception('Failed to complete lifecycle action')

          def handle_cfn_event(event, context):
              """Handle CloudFormation Custom Resource events (used by single-instance template)."""
              request_type = event['RequestType']
              props = event['ResourceProperties']

              try:
                  if request_type == 'Create':
                      secret = get_secret(props['SecretArn'])
                      instance_id = props['InstanceId']
                      stack_name = props['StackName']
                      instance_ip = props.get('InstanceIp', props.get('PublicIp', 'unknown'))
                      appliance_name = props['ApplianceName']

                      appliance_id, enrollment_token = register_appliance(
                          secret['tenant_url'], secret['api_token'],
                          appliance_name, instance_ip,
                      )

                      try:
                          start_enrollment(instance_id, instance_ip, appliance_id, enrollment_token)
                      except Exception:
                          logger.exception('Step Functions start failed — instance may need manual enrollment')

                      cfnresponse.send(event, context, cfnresponse.SUCCESS, {
                          'ApplianceId': appliance_id,
                      }, physicalResourceId=appliance_id)

                  elif request_type == 'Delete':
                      appliance_id = event.get('PhysicalResourceId', '')
                      if appliance_id and not appliance_id.startswith('arn:'):
                          secret = get_secret(props['SecretArn'])
                          deregister_appliance(secret['tenant_url'], secret['api_token'], appliance_id)

                      cfnresponse.send(event, context, cfnresponse.SUCCESS, {}, physicalResourceId=appliance_id)

                  else:
                      cfnresponse.send(event, context, cfnresponse.SUCCESS, {},
                                       physicalResourceId=event.get('PhysicalResourceId', ''))

              except Exception:
                  logger.exception('Handler failed')
                  cfnresponse.send(event, context, cfnresponse.FAILED, {},
                                   physicalResourceId=event.get('PhysicalResourceId', ''))

          def handler(event, context):
              logger.info('Event: %s', json.dumps(event, default=str))

              # SNS wrapper from lifecycle hook
              if 'Records' in event and event['Records'][0].get('EventSource') == 'aws:sns':
                  message = json.loads(event['Records'][0]['Sns']['Message'])
                  logger.info('SNS lifecycle message: %s', json.dumps(message, default=str))
                  if message.get('Event') == 'autoscaling:TEST_NOTIFICATION':
                      logger.info('Skipping test notification')
                      return
                  return handle_lifecycle_event(message, context)
              elif 'detail' in event and 'LifecycleTransition' in event.get('detail', {}):
                  return handle_lifecycle_event(event.get('detail', event), context)
              elif 'RequestType' in event:
                  return handle_cfn_event(event, context)
              else:
                  logger.error('Unknown event type')
      Tags:
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  # ============================================================
  # Enrollment Lambda (SSH/TUI — runs in VPC)
  # ============================================================

  EnrollmentLambdaLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub '/aws/lambda/${AWS::StackName}-enrollment'
      RetentionInDays: 30
      Tags:
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  EnrollmentLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${AWS::StackName}-enrollment-lambda-role'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: EnrollmentLambdaPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Sid: GetSSHKey
                Effect: Allow
                Action:
                  - secretsmanager:GetSecretValue
                Resource: !Ref SSHPrivateKeySecret
              - Sid: GetNetskopeSecret
                Effect: Allow
                Action:
                  - secretsmanager:GetSecretValue
                Resource: !Ref NetskopeSecret
              - Sid: VpcNetworking
                Effect: Allow
                Action:
                  - ec2:CreateNetworkInterface
                  - ec2:DescribeNetworkInterfaces
                  - ec2:DeleteNetworkInterface
                Resource: '*'
              - Sid: CompleteLifecycleAction
                Effect: Allow
                Action:
                  - autoscaling:CompleteLifecycleAction
                Resource: !Sub 'arn:aws:autoscaling:${AWS::Region}:${AWS::AccountId}:autoScalingGroup:*:autoScalingGroupName/${AWS::StackName}-*'
              - Sid: WriteLogs
                Effect: Allow
                Action:
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: !GetAtt EnrollmentLambdaLogGroup.Arn
      Tags:
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  ParamikoLayer:
    Type: AWS::Lambda::LayerVersion
    Properties:
      LayerName: !Sub '${AWS::StackName}-paramiko'
      Description: paramiko + pyte for TUI automation over SSH
      CompatibleRuntimes:
        - python3.12
      Content:
        S3Bucket: !Ref LambdaCodeBucket
        S3Key: !Ref LambdaLayerKey

  EnrollmentLambdaFunction:
    Type: AWS::Lambda::Function
    DependsOn: EnrollmentLambdaLogGroup
    Properties:
      FunctionName: !Sub '${AWS::StackName}-enrollment'
      Description: Drives gateway enrollment via TUI over SSH (paramiko + pyte)
      Runtime: python3.12
      Handler: step_function_handlers.handler
      Timeout: 120
      MemorySize: 256
      Role: !GetAtt EnrollmentLambdaRole.Arn
      Layers:
        - !Ref ParamikoLayer
      VpcConfig:
        SecurityGroupIds:
          - !Ref LambdaSecurityGroup
        SubnetIds:
          - !If [CreateNewPrivateSubnet, !Ref PrivateSubnet, !Ref ExistingPrivateSubnetId]
          - !If [CreateNewPrivateSubnet2, !Ref PrivateSubnet2, !Ref ExistingPrivateSubnet2Id]
      Environment:
        Variables:
          SSH_KEY_SECRET_ARN: !Ref SSHPrivateKeySecret
          NETSKOPE_SECRET_ARN: !Ref NetskopeSecret
      Code:
        S3Bucket: !Ref LambdaCodeBucket
        S3Key: !Ref LambdaCodeKey
      Tags:
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  # ============================================================
  # Step Functions — Enrollment State Machine
  # ============================================================

  StepFunctionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${AWS::StackName}-sfn-role'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: InvokeLambda
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource:
                  - !GetAtt EnrollmentLambdaFunction.Arn
      Tags:
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  EnrollmentStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub '${AWS::StackName}-enrollment'
      RoleArn: !GetAtt StepFunctionRole.Arn
      Tags:
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation
      DefinitionString: !Sub |
        {
          "Comment": "AIG Gateway enrollment via TUI automation over SSH",
          "StartAt": "WaitForSSH",
          "States": {
            "WaitForSSH": {
              "Type": "Task",
              "Resource": "${EnrollmentLambdaFunction.Arn}",
              "Parameters": {
                "action": "check_ssh",
                "instance_ip.$": "$.instance_ip",
                "appliance_id.$": "$.appliance_id",
                "enrollment_token.$": "$.enrollment_token"
              },
              "ResultPath": "$.ssh_check",
              "Next": "IsSSHReady",
              "Catch": [{
                "ErrorEquals": ["States.ALL"],
                "Next": "WaitBeforeSSHRetry",
                "ResultPath": "$.error"
              }]
            },
            "IsSSHReady": {
              "Type": "Choice",
              "Choices": [{
                "Variable": "$.ssh_check.ssh_ready",
                "BooleanEquals": true,
                "Next": "StartEnrollment"
              }],
              "Default": "WaitBeforeSSHRetry"
            },
            "WaitBeforeSSHRetry": {
              "Type": "Wait",
              "Seconds": 15,
              "Next": "WaitForSSH"
            },
            "StartEnrollment": {
              "Type": "Task",
              "Resource": "${EnrollmentLambdaFunction.Arn}",
              "Parameters": {
                "action": "start_enrollment",
                "instance_ip.$": "$.ssh_check.instance_ip",
                "appliance_id.$": "$.ssh_check.appliance_id",
                "enrollment_token.$": "$.ssh_check.enrollment_token"
              },
              "ResultPath": "$.enrollment",
              "Next": "CheckEnrollmentState",
              "Catch": [{
                "ErrorEquals": ["States.ALL"],
                "Next": "EnrollmentFailed",
                "ResultPath": "$.error"
              }]
            },
            "CheckEnrollmentState": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.enrollment.enrollment_state",
                  "StringEquals": "token_prompt_ready",
                  "Next": "SubmitToken"
                },
                {
                  "Variable": "$.enrollment.enrollment_state",
                  "StringEquals": "already_enrolled",
                  "Next": "EnrollmentComplete"
                },
                {
                  "Variable": "$.enrollment.enrollment_state",
                  "StringEquals": "completed",
                  "Next": "EnrollmentComplete"
                }
              ],
              "Default": "WaitForPreEnrollment"
            },
            "WaitForPreEnrollment": {
              "Type": "Wait",
              "Seconds": 30,
              "Next": "PollPreEnrollment"
            },
            "PollPreEnrollment": {
              "Type": "Task",
              "Resource": "${EnrollmentLambdaFunction.Arn}",
              "Parameters": {
                "action": "check_enrollment",
                "instance_ip.$": "$.enrollment.instance_ip",
                "appliance_id.$": "$.enrollment.appliance_id",
                "enrollment_token.$": "$.enrollment.enrollment_token"
              },
              "ResultPath": "$.enrollment",
              "Next": "CheckEnrollmentState",
              "Catch": [{
                "ErrorEquals": ["States.ALL"],
                "Next": "WaitForPreEnrollment",
                "ResultPath": "$.error"
              }]
            },
            "SubmitToken": {
              "Type": "Task",
              "Resource": "${EnrollmentLambdaFunction.Arn}",
              "Parameters": {
                "action": "submit_token",
                "instance_ip.$": "$.enrollment.instance_ip",
                "appliance_id.$": "$.enrollment.appliance_id",
                "enrollment_token.$": "$.enrollment.enrollment_token"
              },
              "ResultPath": "$.submit_result",
              "Next": "CheckSubmitResult",
              "Catch": [{
                "ErrorEquals": ["States.ALL"],
                "Next": "EnrollmentFailed",
                "ResultPath": "$.error"
              }]
            },
            "CheckSubmitResult": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.submit_result.enrollment_state",
                  "StringEquals": "completed",
                  "Next": "EnrollmentComplete"
                },
                {
                  "Variable": "$.submit_result.enrollment_state",
                  "StringEquals": "already_enrolled",
                  "Next": "EnrollmentComplete"
                }
              ],
              "Default": "EnrollmentFailed"
            },
            "EnrollmentComplete": {
              "Type": "Task",
              "Resource": "${EnrollmentLambdaFunction.Arn}",
              "Parameters": {
                "action": "complete_lifecycle",
                "lifecycle.$": "$.lifecycle"
              },
              "End": true,
              "Catch": [{
                "ErrorEquals": ["States.ALL"],
                "Next": "EnrollmentSucceededLifecycleFailed",
                "ResultPath": "$.lifecycle_error"
              }]
            },
            "EnrollmentSucceededLifecycleFailed": {
              "Type": "Succeed"
            },
            "EnrollmentFailed": {
              "Type": "Fail",
              "Error": "EnrollmentFailed",
              "Cause": "Enrollment did not complete successfully"
            }
          }
        }

  # ============================================================
  # Application Load Balancer
  # ============================================================

  ApplicationLoadBalancer:
    Type: AWS::ElasticLoadBalancingV2::LoadBalancer
    Properties:
      Name: !Sub '${AWS::StackName}-alb'
      Scheme: internet-facing
      Type: application
      Subnets:
        - !If [CreateNewPublicSubnet, !Ref PublicSubnet, !Ref ExistingPublicSubnetId]
        - !If [CreateNewPublicSubnet2, !Ref PublicSubnet2, !Ref ExistingPublicSubnet2Id]
      SecurityGroups:
        - !Ref ALBSecurityGroup
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName}-alb'
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  ALBTargetGroup:
    Type: AWS::ElasticLoadBalancingV2::TargetGroup
    Properties:
      Name: !Sub '${AWS::StackName}-tg'
      Port: 443
      Protocol: HTTPS
      VpcId: !If [CreateNewVpc, !Ref Vpc, !Ref ExistingVpcId]
      TargetType: instance
      HealthCheckProtocol: HTTPS
      HealthCheckPath: /
      HealthyThresholdCount: 2
      UnhealthyThresholdCount: 5
      HealthCheckIntervalSeconds: 30
      Matcher:
        HttpCode: '200-499'
      Tags:
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  ALBListener:
    Type: AWS::ElasticLoadBalancingV2::Listener
    Properties:
      LoadBalancerArn: !Ref ApplicationLoadBalancer
      Port: 443
      Protocol: HTTPS
      Certificates:
        - CertificateArn: !Ref AcmCertificateArn
      DefaultActions:
        - Type: forward
          TargetGroupArn: !Ref ALBTargetGroup

  # ============================================================
  # Launch Template + Auto Scaling Group
  # ============================================================

  GatewayLaunchTemplate:
    Type: AWS::EC2::LaunchTemplate
    Properties:
      LaunchTemplateName: !Sub '${AWS::StackName}-lt'
      LaunchTemplateData:
        ImageId: !Ref GatewayAmiId
        InstanceType: !Ref InstanceType
        KeyName: !Sub '${AWS::StackName}-key'
        SecurityGroupIds:
          - !Ref GatewaySecurityGroup
        IamInstanceProfile:
          Name: !Ref GatewayInstanceProfile
        BlockDeviceMappings:
          - DeviceName: /dev/sda1
            Ebs:
              Encrypted: true
              VolumeSize: 400
              VolumeType: gp3
        MetadataOptions:
          HttpTokens: required
          HttpEndpoint: enabled
        TagSpecifications:
          - ResourceType: instance
            Tags:
              - Key: Name
                Value: !Sub '${AWS::StackName}-gateway'
              - Key: Project
                Value: !Ref Project
              - Key: Environment
                Value: !Ref Environment
              - Key: ManagedBy
                Value: CloudFormation

  GatewayAutoScalingGroup:
    Type: AWS::AutoScaling::AutoScalingGroup
    DependsOn:
      - LifecycleSnsSubscription
      - LambdaLifecyclePermission
    Properties:
      AutoScalingGroupName: !Sub '${AWS::StackName}-asg'
      LaunchTemplate:
        LaunchTemplateId: !Ref GatewayLaunchTemplate
        Version: !GetAtt GatewayLaunchTemplate.LatestVersionNumber
      MinSize: !Ref MinCapacity
      MaxSize: !Ref MaxCapacity
      DesiredCapacity: !Ref DesiredCapacity
      VPCZoneIdentifier:
        - !If [CreateNewPrivateSubnet, !Ref PrivateSubnet, !Ref ExistingPrivateSubnetId]
        - !If [CreateNewPrivateSubnet2, !Ref PrivateSubnet2, !Ref ExistingPrivateSubnet2Id]
      TargetGroupARNs:
        - !Ref ALBTargetGroup
      HealthCheckType: ELB
      HealthCheckGracePeriod: 900
      LifecycleHookSpecificationList:
        - LifecycleHookName: !Sub '${AWS::StackName}-launch-hook'
          LifecycleTransition: 'autoscaling:EC2_INSTANCE_LAUNCHING'
          HeartbeatTimeout: 1200
          DefaultResult: ABANDON
          NotificationTargetARN: !Ref LifecycleSnsTopic
          RoleARN: !GetAtt LifecycleSnsRole.Arn
        - LifecycleHookName: !Sub '${AWS::StackName}-terminate-hook'
          LifecycleTransition: 'autoscaling:EC2_INSTANCE_TERMINATING'
          HeartbeatTimeout: 300
          DefaultResult: CONTINUE
          NotificationTargetARN: !Ref LifecycleSnsTopic
          RoleARN: !GetAtt LifecycleSnsRole.Arn
      Tags:
        - Key: Project
          Value: !Ref Project
          PropagateAtLaunch: false
        - Key: Environment
          Value: !Ref Environment
          PropagateAtLaunch: false
        - Key: ManagedBy
          Value: CloudFormation
          PropagateAtLaunch: false

  # ============================================================
  # Lifecycle Hooks
  # ============================================================

  # ============================================================
  # Lifecycle Hook SNS Integration
  # ============================================================

  LifecycleSnsTopic:
    Type: AWS::SNS::Topic
    Properties:
      TopicName: !Sub '${AWS::StackName}-lifecycle'
      Tags:
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation

  LifecycleSnsSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      TopicArn: !Ref LifecycleSnsTopic
      Protocol: lambda
      Endpoint: !GetAtt ActivationLambdaFunction.Arn

  LambdaLifecyclePermission:
    Type: AWS::Lambda::Permission
    Properties:
      Action: lambda:InvokeFunction
      FunctionName: !Ref ActivationLambdaFunction
      Principal: sns.amazonaws.com
      SourceArn: !Ref LifecycleSnsTopic

  LifecycleSnsRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${AWS::StackName}-lifecycle-sns-role'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: autoscaling.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: PublishToSns
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: sns:Publish
                Resource: !Ref LifecycleSnsTopic
      Tags:
        - Key: Project
          Value: !Ref Project
        - Key: Environment
          Value: !Ref Environment
        - Key: ManagedBy
          Value: CloudFormation


Outputs:
  VpcId:
    Description: VPC ID
    Value: !If [CreateNewVpc, !Ref Vpc, !Ref ExistingVpcId]
    Export:
      Name: !Sub '${AWS::StackName}-VpcId'

  PublicSubnetId:
    Description: Public subnet ID
    Value: !If [CreateNewPublicSubnet, !Ref PublicSubnet, !Ref ExistingPublicSubnetId]
    Export:
      Name: !Sub '${AWS::StackName}-PublicSubnetId'

  PrivateSubnetId:
    Description: Private subnet ID (AZ 1)
    Value: !If [CreateNewPrivateSubnet, !Ref PrivateSubnet, !Ref ExistingPrivateSubnetId]
    Export:
      Name: !Sub '${AWS::StackName}-PrivateSubnetId'

  GatewaySecurityGroupId:
    Description: Gateway security group ID
    Value: !Ref GatewaySecurityGroup
    Export:
      Name: !Sub '${AWS::StackName}-GatewaySecurityGroupId'

  ALBDnsName:
    Description: ALB DNS name
    Value: !GetAtt ApplicationLoadBalancer.DNSName
    Export:
      Name: !Sub '${AWS::StackName}-ALBDnsName'

  ALBHostedZoneId:
    Description: ALB hosted zone ID (for Route 53 alias records)
    Value: !GetAtt ApplicationLoadBalancer.CanonicalHostedZoneID

  AutoScalingGroupName:
    Description: Auto Scaling group name
    Value: !Ref GatewayAutoScalingGroup
    Export:
      Name: !Sub '${AWS::StackName}-AutoScalingGroupName'