templates/test-step-function.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: >
  Step Functions enrollment test. Orchestrates AIG Gateway enrollment
  via TUI automation (paramiko + pyte). Registers appliance with
  Netskope tenant, drives enrollment through the aig-cli TUI over SSH,
  and supports deregistration for cleanup.

Parameters:
  VpcId:
    Type: AWS::EC2::VPC::Id
    Description: VPC to deploy into

  SubnetId:
    Type: AWS::EC2::Subnet::Id
    Description: Subnet for Lambda and gateway instance

  LambdaCodeBucket:
    Type: String
    Description: S3 bucket containing Lambda packages and layers

  LambdaCodeKey:
    Type: String
    Default: lambda-step-function.zip
    Description: S3 key for the Step Function Lambda package

  LayerKey:
    Type: String
    Default: layers/pexpect-layer.zip
    Description: S3 key for the paramiko/pyte Lambda Layer

  NetskopeTenantUrl:
    Type: String
    Description: Netskope tenant URL (e.g. https://bespin.goskope.com)

  NetskopeApiToken:
    Type: String
    NoEcho: true
    Description: Netskope RBAC v3 API token

  GatewayAmiId:
    Type: AWS::EC2::Image::Id
    Description: AIG Gateway AMI ID

  InstanceType:
    Type: String
    Default: m5.4xlarge
    Description: Gateway instance type

Resources:
  # =========================================================
  # SSH Key Pair Generation
  # =========================================================

  SSHPrivateKeySecret:
    Type: AWS::SecretsManager::Secret
    Properties:
      Name: !Sub '${AWS::StackName}-ssh-key'
      Description: SSH private key for Lambda-to-gateway automation

  SSHKeyGeneratorRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${AWS::StackName}-keygen-role'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: KeyGenPermissions
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - ec2:CreateKeyPair
                  - ec2:DeleteKeyPair
                Resource: '*'
              - Effect: Allow
                Action:
                  - secretsmanager:PutSecretValue
                Resource: !Ref SSHPrivateKeySecret
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: '*'

  SSHKeyGeneratorFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub '${AWS::StackName}-keygen'
      Runtime: python3.12
      Handler: index.handler
      Timeout: 30
      Role: !GetAtt SSHKeyGeneratorRole.Arn
      Code:
        ZipFile: |
          import json
          import boto3
          import cfnresponse
          import logging

          logger = logging.getLogger()
          logger.setLevel(logging.INFO)

          ec2 = boto3.client('ec2')
          sm = boto3.client('secretsmanager')

          def handler(event, context):
              key_pair_name = event['ResourceProperties']['KeyPairName']
              secret_arn = event['ResourceProperties']['SecretArn']
              request_type = event['RequestType']

              try:
                  if request_type == 'Create':
                      resp = ec2.create_key_pair(
                          KeyName=key_pair_name,
                          KeyType='rsa',
                          KeyFormat='pem',
                      )
                      sm.put_secret_value(
                          SecretId=secret_arn,
                          SecretString=resp['KeyMaterial'],
                      )
                      logger.info('Created key pair: %s', key_pair_name)
                      cfnresponse.send(event, context, cfnresponse.SUCCESS, {
                          'KeyPairName': key_pair_name,
                      }, physicalResourceId=key_pair_name)

                  elif request_type == 'Delete':
                      try:
                          ec2.delete_key_pair(KeyName=key_pair_name)
                      except Exception:
                          logger.exception('Failed to delete key pair')
                      cfnresponse.send(event, context, cfnresponse.SUCCESS, {},
                                       physicalResourceId=key_pair_name)
                  else:
                      cfnresponse.send(event, context, cfnresponse.SUCCESS, {
                          'KeyPairName': key_pair_name,
                      }, physicalResourceId=key_pair_name)

              except Exception:
                  logger.exception('Key generation failed')
                  cfnresponse.send(event, context, cfnresponse.FAILED, {},
                                   physicalResourceId=key_pair_name)

  SSHKeyPair:
    Type: Custom::SSHKeyPair
    Properties:
      ServiceToken: !GetAtt SSHKeyGeneratorFunction.Arn
      KeyPairName: !Sub '${AWS::StackName}-key'
      SecretArn: !Ref SSHPrivateKeySecret

  # =========================================================
  # Netskope Credentials
  # =========================================================

  NetskopeSecret:
    Type: AWS::SecretsManager::Secret
    Properties:
      Name: !Sub '${AWS::StackName}-netskope-creds'
      Description: Netskope tenant URL and API token
      SecretString: !Sub '{"tenant_url":"${NetskopeTenantUrl}","api_token":"${NetskopeApiToken}"}'

  # =========================================================
  # Networking
  # =========================================================

  LambdaSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: Lambda for Step Function enrollment
      VpcId: !Ref VpcId
      SecurityGroupEgress:
        - IpProtocol: '-1'
          CidrIp: '0.0.0.0/0'
          Description: All outbound
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName}-lambda-sg'

  GatewaySecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: Gateway instance
      VpcId: !Ref VpcId
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 22
          ToPort: 22
          SourceSecurityGroupId: !Ref LambdaSecurityGroup
          Description: SSH from Lambda
      SecurityGroupEgress:
        - IpProtocol: '-1'
          CidrIp: '0.0.0.0/0'
          Description: All outbound
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName}-gw-sg'

  # NOTE: Secrets Manager VPC endpoint must already exist in this VPC.
  # The tui-ssh-test stack creates one. If deploying standalone, add it here.

  # =========================================================
  # Gateway Instance
  # =========================================================

  GatewayInstance:
    Type: AWS::EC2::Instance
    DependsOn: SSHKeyPair
    Properties:
      ImageId: !Ref GatewayAmiId
      InstanceType: !Ref InstanceType
      KeyName: !Sub '${AWS::StackName}-key'
      SubnetId: !Ref SubnetId
      SecurityGroupIds:
        - !Ref GatewaySecurityGroup
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName}-gateway'

  # =========================================================
  # Lambda Layer + Function
  # =========================================================

  ParamikoLayer:
    Type: AWS::Lambda::LayerVersion
    Properties:
      LayerName: !Sub '${AWS::StackName}-paramiko'
      Description: paramiko + pyte for TUI automation
      CompatibleRuntimes:
        - python3.12
      Content:
        S3Bucket: !Ref LambdaCodeBucket
        S3Key: !Ref LayerKey

  EnrollmentLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${AWS::StackName}-lambda-role'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: EnrollmentPermissions
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - secretsmanager:GetSecretValue
                Resource:
                  - !Ref SSHPrivateKeySecret
                  - !Ref NetskopeSecret
              - Effect: Allow
                Action:
                  - ec2:CreateNetworkInterface
                  - ec2:DescribeNetworkInterfaces
                  - ec2:DeleteNetworkInterface
                Resource: '*'
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: '*'

  EnrollmentLambdaFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub '${AWS::StackName}-enrollment'
      Description: Step Function handler for AIG enrollment via TUI
      Runtime: python3.12
      Handler: step_function_handlers.handler
      Timeout: 120
      MemorySize: 256
      Role: !GetAtt EnrollmentLambdaRole.Arn
      Layers:
        - !Ref ParamikoLayer
      VpcConfig:
        SecurityGroupIds:
          - !Ref LambdaSecurityGroup
        SubnetIds:
          - !Ref SubnetId
      Environment:
        Variables:
          SSH_KEY_SECRET_ARN: !Ref SSHPrivateKeySecret
          NETSKOPE_SECRET_ARN: !Ref NetskopeSecret
      Code:
        S3Bucket: !Ref LambdaCodeBucket
        S3Key: !Ref LambdaCodeKey

  # =========================================================
  # Step Functions State Machine
  # =========================================================

  StepFunctionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${AWS::StackName}-sfn-role'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: InvokeLambda
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource: !GetAtt EnrollmentLambdaFunction.Arn

  EnrollmentStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub '${AWS::StackName}-enrollment'
      RoleArn: !GetAtt StepFunctionRole.Arn
      DefinitionString: !Sub |
        {
          "Comment": "AIG Gateway enrollment via TUI automation",
          "StartAt": "RegisterAppliance",
          "States": {
            "RegisterAppliance": {
              "Type": "Task",
              "Resource": "${EnrollmentLambdaFunction.Arn}",
              "Parameters": {
                "action": "register",
                "instance_ip.$": "$.instance_ip",
                "appliance_name.$": "$.appliance_name"
              },
              "ResultPath": "$.registration",
              "Next": "WaitForSSH",
              "Catch": [{
                "ErrorEquals": ["States.ALL"],
                "Next": "EnrollmentFailed",
                "ResultPath": "$.error"
              }]
            },
            "WaitForSSH": {
              "Type": "Task",
              "Resource": "${EnrollmentLambdaFunction.Arn}",
              "Parameters": {
                "action": "check_ssh",
                "instance_ip.$": "$.instance_ip",
                "appliance_id.$": "$.registration.appliance_id",
                "enrollment_token.$": "$.registration.enrollment_token"
              },
              "ResultPath": "$.ssh_check",
              "Next": "IsSSHReady",
              "Catch": [{
                "ErrorEquals": ["States.ALL"],
                "Next": "WaitBeforeSSHRetry",
                "ResultPath": "$.error"
              }]
            },
            "IsSSHReady": {
              "Type": "Choice",
              "Choices": [{
                "Variable": "$.ssh_check.ssh_ready",
                "BooleanEquals": true,
                "Next": "StartEnrollment"
              }],
              "Default": "WaitBeforeSSHRetry"
            },
            "WaitBeforeSSHRetry": {
              "Type": "Wait",
              "Seconds": 15,
              "Next": "WaitForSSH"
            },
            "StartEnrollment": {
              "Type": "Task",
              "Resource": "${EnrollmentLambdaFunction.Arn}",
              "Parameters": {
                "action": "start_enrollment",
                "instance_ip.$": "$.ssh_check.instance_ip",
                "appliance_id.$": "$.ssh_check.appliance_id",
                "enrollment_token.$": "$.ssh_check.enrollment_token"
              },
              "ResultPath": "$.enrollment",
              "Next": "CheckEnrollmentState",
              "Catch": [{
                "ErrorEquals": ["States.ALL"],
                "Next": "EnrollmentFailed",
                "ResultPath": "$.error"
              }]
            },
            "CheckEnrollmentState": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.enrollment.enrollment_state",
                  "StringEquals": "token_prompt_ready",
                  "Next": "SubmitToken"
                },
                {
                  "Variable": "$.enrollment.enrollment_state",
                  "StringEquals": "already_enrolled",
                  "Next": "EnrollmentComplete"
                },
                {
                  "Variable": "$.enrollment.enrollment_state",
                  "StringEquals": "completed",
                  "Next": "EnrollmentComplete"
                }
              ],
              "Default": "WaitForPreEnrollment"
            },
            "WaitForPreEnrollment": {
              "Type": "Wait",
              "Seconds": 30,
              "Next": "PollPreEnrollment"
            },
            "PollPreEnrollment": {
              "Type": "Task",
              "Resource": "${EnrollmentLambdaFunction.Arn}",
              "Parameters": {
                "action": "check_enrollment",
                "instance_ip.$": "$.enrollment.instance_ip",
                "appliance_id.$": "$.enrollment.appliance_id",
                "enrollment_token.$": "$.enrollment.enrollment_token"
              },
              "ResultPath": "$.enrollment",
              "Next": "CheckEnrollmentState",
              "Catch": [{
                "ErrorEquals": ["States.ALL"],
                "Next": "WaitForPreEnrollment",
                "ResultPath": "$.error"
              }]
            },
            "SubmitToken": {
              "Type": "Task",
              "Resource": "${EnrollmentLambdaFunction.Arn}",
              "Parameters": {
                "action": "submit_token",
                "instance_ip.$": "$.enrollment.instance_ip",
                "appliance_id.$": "$.enrollment.appliance_id",
                "enrollment_token.$": "$.enrollment.enrollment_token"
              },
              "ResultPath": "$.submit_result",
              "Next": "CheckSubmitResult",
              "Catch": [{
                "ErrorEquals": ["States.ALL"],
                "Next": "EnrollmentFailed",
                "ResultPath": "$.error"
              }]
            },
            "CheckSubmitResult": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.submit_result.enrollment_state",
                  "StringEquals": "completed",
                  "Next": "EnrollmentComplete"
                },
                {
                  "Variable": "$.submit_result.enrollment_state",
                  "StringEquals": "already_enrolled",
                  "Next": "EnrollmentComplete"
                }
              ],
              "Default": "EnrollmentFailed"
            },
            "EnrollmentComplete": {
              "Type": "Succeed"
            },
            "EnrollmentFailed": {
              "Type": "Fail",
              "Error": "EnrollmentFailed",
              "Cause": "Enrollment did not complete successfully"
            }
          }
        }

Outputs:
  GatewayInstanceId:
    Value: !Ref GatewayInstance
  GatewayPrivateIp:
    Value: !GetAtt GatewayInstance.PrivateIp
  LambdaFunctionName:
    Value: !Ref EnrollmentLambdaFunction
  StateMachineArn:
    Value: !Ref EnrollmentStateMachine
  StartExecutionInput:
    Description: Paste this as Step Functions execution input
    Value: !Sub |
      {
        "instance_ip": "${GatewayInstance.PrivateIp}",
        "appliance_name": "${AWS::StackName}-gateway"
      }
  DeregisterInput:
    Description: Invoke Lambda directly with this to deregister (replace APPLIANCE_ID)
    Value: '{"action": "deregister", "appliance_id": "<APPLIANCE_ID>"}'
